---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Norcode Rechnungen">
    <div class="stack">
        <h1>Rechnungen Rechnungen</h1>

        <ul>
            <li><a href="/new">Neue Rechnung</a></li>
            <li><a href="/invoices">Alle Rechnungen</a></li>
        </ul>

    </div>
</Layout>
