<!-- COMPONENT-START: nc-input-field with date -->
<div class="nc-input-field">
    <label for="date-input" class="nc-stack">
        <span class="nc-input-label">Label</span>
    </label>
    <div class="nc-cluster full-width nc-input-date">
        <input
            class="nc-input"
            id="date-input"
            name="date-input"
            aria-required="true"
            autocomplete=""
            type="date"
        />
        <button type="button" class="nc-button">Today</button>
    </div>
    <!-- COMPONENT-END: nc-input-field with date -->
</div>
