<!-- COMPONENT-START: nc-segmented-control -->
<fieldset class="nc-fieldset nc-input-field nc-segmented-control-group -horizontal" style="--horizontal: true">
    <legend class="sr-only">
        Items per column
    </legend>
    <div class="nc-cluster -centered full-width">
        <span class="nc-input-label" aria-hidden="true">Items per column</span>

        <div class="nc-segmented-control">
            <label>
                <input type="radio" name="horizontal-test" value="2" checked />
                <span class="nc-input-label">2</span>
            </label>
            <label>
                <input type="radio" name="horizontal-test" value="4" />
                <span class="nc-input-label">4</span>
            </label>
            <label>
                <input type="radio" name="horizontal-test" value="8" />
                <span class="nc-input-label">8</span>
            </label>
        </div>
    </div>
</fieldset>
<!-- COMPONENT-END: nc-segmented-control -->
