<!-- COMPONENT-START: nc-input-field -->
<div class="nc-input-field">
    <label for="input" class="nc-stack">
        <span class="nc-input-label">Label</span>
        <span class="nc-hint"
            >Hint is an accessible way to provide additional information that might help the
            user</span
        >
        <span class="nc-input-error">Render errors here if there is an issue with the input.</span>
    </label>
    <input id="input" class="nc-input" aria-required="true" autocomplete="" type="text" />
</div>
<!-- COMPONENT-END: nc-input-field -->
