<!-- COMPONENT-START: nc-input-field: Checkbox -->
<div class="nc-cluster | nc-input-field | nc-checkbox-wrapper">
    <label for="input" class="nc-stack" data-label>
        <span class="nc-input-label">Label</span>
        <span class="nc-hint"
        >Hint is an accessible way to provide additional information that might help the user</span>
        <span class="nc-input-error">Render errors here if there is an issue with the input.</span>
    </label>
    <input
        data-input
        id="input"
        class="nc-input-checkbox"
        aria-required="true"
        autocomplete=""
        type="checkbox"
    />
</div>
<!-- COMPONENT-END: nc-input-field: Checkbox -->
