<!-- COMPONENT-START: nc-radio-field -->
<div class="nc-input-field nc-radio-field">
    <p class="nc-stack">
        <span class="nc-input-label" id="input">Label</span>
        <span class="nc-hint" id="input-hint"
            >Hint is an accessible way to provide additional information that might help the
            user</span
        >
        <span class="nc-input-error">Render errors here if there is an issue with the input.</span>
    </p>
    <fieldset class="nc-fieldset" aria-labelledby="input" aria-describedby="input-hint">
        <!-- Options can be multiple -->
        <div class="nc-checkbox-wrapper nc-input-field">
            <label for="radio-option-1" class="nc-stack">
                <span class="nc-input-label">Label</span>
                <span class="nc-hint"
                    >Hint is an accessible way to provide additional information that might help the
                    user</span
                >
            </label>
            <input
                id="radio-option-1"
                class="nc-input-radio"
                type="radio"
                value="value-1"
                name="radio"
            />
        </div>
        <div class="nc-checkbox-wrapper nc-input-field">
            <label for="radio-option-2" class="nc-stack">
                <span class="nc-input-label">Label 2</span>
                <span class="nc-hint"
                    >Hint is an accessible way to provide additional information that might help the
                    user</span
                >
            </label>
            <input
                id="radio-option-2"
                class="nc-input-radio"
                type="radio"
                value="value-2"
                name="radio"
            />
        </div>
        <!-- End Options -->
    </fieldset>
</div>
<!-- COMPONENT-END: nc-input-field -->
