<!-- COMPONENT-START: nc-segmented-control button-group -->
<div class="nc-fieldset nc-input-field nc-segmented-control-group -horizontal" style="--horizontal: true">
    <div class="nc-cluster -centered full-width">
        <span class="nc-input-label" id="label">Items per column</span>

        <div class="nc-segmented-control" aria-labelledby="label">
            <button type="button" aria-pressed="true">
                Left align
            </button>
            <button type="button">
                Center align
            </button>
            <button type="button">
                Right align
            </button>
        </div>
    </div>
</div>
<!-- COMPONENT-END: nc-segmented-control button-group -->
