---
interface Props {
    style: string;
    text: string;
    label: string;
}

const { style, text, label } = Astro.props;
---

<div class="text-preview-row">
    <var class="label">{label}</var>
    <p style={style}>{text}</p>
</div>

<style>
    .text-preview-row {
        display: grid;
        grid-template-columns: 24ch 1fr;
        gap: var(--spacing-near);
        inline-size: 100%;
        align-items: flex-start;
    }

    .label {
        font-size: var(--font-size-smallest);
    }
</style>
