<style>
    figure div {
        display: grid;
        place-content: center;
        inline-size: 5rem;
        block-size: 5rem;
        border: var(--border-width-medium) solid var(--color-border-base);
    }

    .bg {
        background: var(--color-surface-subtle);
    }
</style>

<div class="nc-stack -far bg -stretched -contained">
    <div class="nc-stack -near">
        <h2>Component Preview</h2>

        <div class="nc-card">
            <div class="nc-stack">
                <div class="nc-stack -nogap">
                    <span class="badge">Cool Card</span>
                    <h3>Hello Friend</h3>
                </div>
                <p>Welcome to your new style.</p>
                <form>
                    <!-- COMPONENT-START: nc-input-field -->
                    <div class="nc-input-field">
                        <label for="name" class="nc-stack">
                            <span class="nc-input-label">What's your name?</span>
                            <span class="nc-hint">This is your name?</span>
                        </label>
                        <input
                            id="name"
                            class="nc-input"
                            aria-required="true"
                            autocomplete=""
                            type="text"
                        />
                    </div>
                    <!-- COMPONENT-END: nc-input-field -->
                </form>
                <div class="nc-cluster -layout-near">
                    <button class="nc-button -primary">Primary</button>
                    <button class="nc-button -neutral">Neutral</button>
                    <button class="nc-button -neutral -outline">Neutral outline</button>
                    <button class="nc-button -round -icon -small -stealth" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="nc-icon">
                            <path
                                fill="currentColor"
                                d="M5 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2Zm14 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2Zm-7 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2Z"
                            ></path>
                        </svg>
                    </button>
                </div>
                <!-- COMPONENT-START: nc-input-field: Checkbox -->
                <div class="nc-cluster | nc-input-field | nc-checkbox-wrapper">
                    <label for="checkbox" class="nc-stack">
                        <span class="nc-input-label">I agree to use this theme</span>
                    </label>
                    <input
                        id="checkbox"
                        class="nc-input-checkbox"
                        aria-required="true"
                        autocomplete=""
                        type="checkbox"
                    />
                </div>
                <!-- COMPONENT-END: nc-input-field: Checkbox -->
                <a href="#">Hier ist noch ein Link</a>
            </div>
        </div>
        <p>
            Let's get started! (z.B. das man bei modern im gegensatz zu brutalist z.B border color
            haben will der nicht so harte kontraste hat, kann man sicher auch, dadurch das wir oklch
            haben, die l von lch "presetten" und man selber wählt idealerweise nur noch das h von
            lch mit der entsprechenden brand color – rot, blau, grün etc.)
        </p>
        <p class="muted">
            Secondary text, der aber immer noch wichtig genug ist, um gelesen zu werden.
        </p>
        <p class="subtle">Text der wirklich nicht so wichtig ist. Maximal Placeholder.</p>
        <div class="nc-box inset">
            <p>If you need an inset bg, use this. It's like a lower elevation.</p>
        </div>
        <div class="nc-box subtle-bg">this is a sublte border</div>
        <footer>This could be your footer</footer>

        <div class="nc-cluster">
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>No size</figcaption>
            </figure>
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        data-size="xs"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>xs</figcaption>
            </figure>
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        data-size="sm"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>sm</figcaption>
            </figure>
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        data-size="md"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>md</figcaption>
            </figure>
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        data-size="lg"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>lg</figcaption>
            </figure>
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        data-size="xl"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>xl</figcaption>
            </figure>
            <figure>
                <div>
                    <svg
                        class="nc-icon"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        data-size="inline"
                    >
                        <path
                            d="M10 7C10 10.866 13.134 14 17 14C18.9584 14 20.729 13.1957 21.9995 11.8995C22 11.933 22 11.9665 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.0335 2 12.067 2 12.1005 2.00049C10.8043 3.27098 10 5.04157 10 7ZM4 12C4 16.4183 7.58172 20 12 20C15.0583 20 17.7158 18.2839 19.062 15.7621C18.3945 15.9187 17.7035 16 17 16C12.0294 16 8 11.9706 8 7C8 6.29648 8.08133 5.60547 8.2379 4.938C5.71611 6.28423 4 8.9417 4 12Z"
                        ></path>
                    </svg>
                </div>
                <figcaption>inline</figcaption>
            </figure>
        </div>
    </div>
</div>

<style lang="postcss">
    .muted {
        color: var(--color-text-muted);
    }

    .subtle {
        color: var(--color-text-subtle);
    }

    .inset {
        background: var(--color-surface-subtle);
    }

    .subtle-bg {
        border: var(--border-width-thin) solid var(--color-border-muted);
        border-radius: var(--border-radius-medium);
    }

    footer {
        padding: var(--spacing-base);
        inline-size: 100%;
        background: var(--color-surface-subtle);
        border: var(--border-width-thin) solid var(--color-border-muted);
        border-radius: var(--border-radius-medium);
    }
</style>
