<!-- COMPONENT-START: nc-clickable-card -->
<article
    class="nc-clickable-card nc-stack"
    style="max-inline-size: 16rem; border: 1px solid var(--color-border-base); padding: var(--spacing-base)"
>
    <img src="/preview.jpg" alt="">
    <h2>
        <a href="#" data-link="main">Here we go again</a>
    </h2>
    <p>After seeing to many inaccessible cards, it was time to warm the topic up again.</p>
    <div class="nc-cluster nc-hint">
        <time>Today</time><span>-</span><span>Joshua</span>
    </div>
</article>
<!-- COMPONENT-END: nc-clickable-card -->
