<div class="nc-stack">
    <p><strong>Default buttons</strong></p>
    <div class="nc-cluster -near">
        <button class="nc-button">Default</button>
        <button class="nc-button -primary">Primary</button>
        <button class="nc-button -secondary">Secondary</button>
        <button class="nc-button -muted">Muted</button>
        <button class="nc-button -info">Info</button>
        <button class="nc-button -warning">Warning</button>
        <button class="nc-button -danger">Danger</button>
        <button class="nc-button -success">Success</button>
    </div>
    <p><strong>Outline buttons</strong></p>
    <div class="nc-cluster -near">
        <button class="nc-button -outline">Outline</button>
        <button class="nc-button -outline -primary">Outline Primary</button>
        <button class="nc-button -outline -secondary">Outline Secondary</button>
        <button class="nc-button -outline -muted">Outline Muted</button>
        <button class="nc-button -outline -info">Outline Info</button>
        <button class="nc-button -outline -warning">Outline Warning</button>
        <button class="nc-button -outline -danger">Outline Danger</button>
        <button class="nc-button -outline -success">Outline Success</button>
    </div>
    <p><strong>Stealth buttons</strong></p>
    <div class="nc-cluster -near">
        <button class="nc-button -stealth">Stealth</button>
        <button class="nc-button -stealth -muted">Stealth Muted</button>
        <button class="nc-button -stealth -primary">Stealth Primary</button>
        <button class="nc-button -stealth -secondary">Stealth Secondary</button>
        <button class="nc-button -stealth -info">Stealth Info</button>
        <button class="nc-button -stealth -warning">Stealth Warning</button>
        <button class="nc-button -stealth -danger">Stealth Danger</button>
        <button class="nc-button -stealth -success">Stealth Success</button>
    </div>
    <p><strong>Special buttons</strong></p>
    <div class="nc-cluster -near">
        <button class="nc-button -destructive">Destructive button</button>
        <button class="nc-button -small">Small button</button>
        <button class="nc-button -round">Round button</button>
        <button class="nc-button -active">Active button</button>
        <button class="nc-button" disabled>Disabled button</button>
        <button class="nc-button -offset">Offset Button</button>
    </div>
</div>
