---
import Themepicker from './Themepicker.astro';
import ConfigLoader from '../../store/components/ConfigLoader.svelte';
---

<div class="nc-cluster -centered">
    <h1>UI Generator</h1>
    <nav class="mr-auto">
        <ul class="list-reset nc-cluster -near">
            <li>
                <a href="/">Presets</a>
            </li>

            <li>
                <a href="/typography">Typography</a>
            </li>
            <li>
                <a href="/colors">Colors</a>
            </li>
            <li>
                <a href="/sizes">Sizes</a>
            </li>
            <li>
                <a href="/components">Components</a>
            </li>
        </ul>
    </nav>
    <div class="nc-cluster">
        <ConfigLoader client:only="svelte" />

        <Themepicker />
        <button data-toggle-notification-center class="nc-button -icon -small">
            <span class="text-assistive">Toggle Notifications</span>
            <svg
                class="nc-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
                ><path
                    d="M22 20H2V18H3V11.0314C3 6.04348 7.02944 2 12 2C16.9706 2 21 6.04348 21 11.0314V18H22V20ZM5 18H19V11.0314C19 7.14806 15.866 4 12 4C8.13401 4 5 7.14806 5 11.0314V18ZM9.5 21H14.5C14.5 22.3807 13.3807 23.5 12 23.5C10.6193 23.5 9.5 22.3807 9.5 21Z"
                ></path></svg
            >
        </button>
    </div>
</div>

<style>
    nav a {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        color: var(--color-brand-secondary-base);

        &:hover {
            color: var(--color-brand-secondary-subtle);
        }
    }
    h1 {
        font-size: var(--font-size-base);
    }
</style>
