---
import Themepicker from './Themepicker.astro';
---

<div class="nc-cluster -centered -layout-base">
    <h1>UI Generator</h1>
    <nav class="mr-auto">
        <ul class="list-reset nc-cluster -layout-near">
            <li>
                <a href="/">Presets</a>
            </li>

            <li>
                <a href="/typography">Typography</a>
            </li>
            <li>
                <a href="/colors">Colors</a>
            </li>
            <li>
                <a href="/sizes">Sizes</a>
            </li>
            <li>
                <a href="/components">Components</a>
            </li>
        </ul>
    </nav>
    <button data-toggle-notification-center class="nc-button">Show Notifications</button>
    <Themepicker />
</div>

<style lang="postcss">
    nav a {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        color: var(--color-brand-secondary-base);

        &:hover {
        color: var(--color-brand-secondary-subtle)

         }
    }
    h1 {
        font-size: var(--font-size-base);
    }
    </style>
