:where(.text-assistive, .sr-only) {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

:where(.break-word) {
    overflow-wrap: break-word;
    max-inline-size: 100%;
    hyphens: auto;
}

.full-width {
    inline-size: 100%;
}
