.nc-hint {
    color: var(--color-text-muted);
    font-size: var(--font-size-small);
    line-height: var(--line-height-base);
}

.nc-slub {
    color: var(--color-text-subtle);
    text-transform: uppercase;
    letter-spacing: var(--tracking-wide);
    font-weight: var(--font-weight-active);
    font-size: var(--font-size-smallest);
}

.allcaps {
    text-transform: capitalize;
}

.centered {
    text-align: center;
    text-wrap: balance;
}

.uppercase {
    text-transform: uppercase;
    --opentype-case: on;
}

.smallcaps {
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
}

.strong {
    font-weight: var(--font-weight-strong);
}

.font-mono {
    font-family: var(--font-family-mono);
}

.font-sans {
    font-family: var(--font-family-sans);
}

.font-serif {
    font-family: var(--font-family-serif);
}

.font-size-display {
    font-size: var(--font-size-display);
}

.font-size-largest {
    font-size: var(--font-size-largest);
}

.font-size-large {
    font-size: var(--font-size-large);
}

.font-size-base {
    font-size: var(--font-size-base);
}

.font-size-small {
    font-size: var(--font-size-small);
}

.font-size-smallest {
    font-size: var(--font-size-smallest);
}
