---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout>
    <div>
    <h1>WildtierRettung</h1>
        <h2>
            Farben / Design
        </h2>
        <ul>
    <li>OLD: #275727</li>
            <li>New: #005b0b</li>
            <li>OKLCH: oklch(41.04% 0.165 143.65)</li>
            <li>Logo Farbe: #a7b009 / #a7b000</li>
            <li>OKLCH: oklch(72.55% 0.188 113.42)</li>
            <li>Bilder mit Abstand</li>
            <li>Block Elemente</li>
            <li>Kein border radius</li>
        </ul>

    <div class="nc-card" style="background: var(--color-brand-primary-base)">
        Grüne farbe
    </div>
            <div class="nc-card" style="background: var(--color-brand-secondary-base)">
        Secondary farbe
    </div>

        <h2>Requirements</h2>
        <ul>
            <li>
                Ziel: So Aushängeschild. Wer wir sind, was wir machen. Evtl. wie entstanden usw.
            </li>
            <li>
                Dann müssen die Bauern über ne Verlinkung zu der Seite kommen wo die ihre abzufliegenden Felder eintragen können
            </li>
            <li>
                Kontaktform: https://sendfly.io/forms/new
            </li>
            <li>
                Das war ne durchgängige Page die man von oben nach unten durchscrollen konnte. Es gab das Beitrittsformular als PDF zum Download und ne Verlinkung zu ner anderen Seite.
Dann halt noch etwas BlaBla über den Verein und was wir machen usw.

                Im Grunde war das einfach ne Seite die wenn sie einmal stand, auch nicht mehr aktuell gehalten werden musste oder so.
            </li>
        </ul>
        </div>
</DefaultLayout>
