---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout>
    <div>
    <h1>WildtierRettung</h1>
        <ul>
    <li>OLD: #275727</li>
            <li>New: #005b0b</li>
            <li>OKLCH: oklch(41.04% 0.165 143.65)</li>
            <li>Logo Farbe: #a7b009 / #a7b000</li>
            <li>OKLCH: oklch(72.55% 0.188 113.42)</li>
            <li>Bilder mit Abstand</li>
            <li>Block Elemente</li>
            <li>Kein border radius</li>
        </ul>

    <div class="nc-card" style="background: var(--color-brand-primary-base)">
        Grüne farbe
    </div>
            <div class="nc-card" style="background: var(--color-brand-secondary-base)">
        Secondary farbe
    </div>

        </div>
</DefaultLayout>
