---
import Image from 'astro/components/Image.astro';

interface Props {
    image: ImageMetadata;
}

const { image } = Astro.props;
---

<figure class="case-img-container card-bg">
    <a href={image.src} aria-hidden="true">
        <Image
            class="case-img"
            alt=""
            widths={[400, 600, 800, 1000]}
            sizes={`
            (min-width: 840px) 1000px,
                (min-width: 640px) 800px,
                (min-width: 440px) 600px,
                400x`}
            src={image}
        />
    </a>
    <figcaption>
        <slot />
    </figcaption>
</figure>
