---
import { getIconPath } from '../config/getIconPath.ts';
import { ensureTrailingSlash } from '../utils/ensureTrailingSlash.ts';
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={ensureTrailingSlash(href)} class="nc-button -stealth gradient-text">
    <slot />
    <svg
        class="nc-icon"
        data-size="inline"
        stroke="var(--color-brand-secondary-base)"
        aria-hidden="true"
    >
        <use href={getIconPath('arrow-right')} />
    </svg>
</a>

<style>
a {
    padding-inline-start: 0;

    & svg {
        transition: transform var(--transition-duration-quick-2) var(--ease-elastic-2);
    }

    &:hover svg {
        transform: translateX(0.5ch);
    }
}
</style>
