---
import { getIconPath } from '../config/getIconPath.ts';
---
<style is:global>
.theme-switch {
    all: unset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    position: relative;
    cursor: pointer;
    align-items: center;
    isolation: isolate;
    flex-shrink: 0;
    background: var(--color-surface-emphasis);
    border-radius: var(--border-radius-round);

    &:focus-within {
        outline: var(--border-width-thin) solid var(--color-brand-primary-base);
        outline-offset: 6px;
    }
}

.theme-icon {
    --icon-size: 2ex;
    color: var(--color-text-on-emphasis);

    &:hover {
        color: var(--color-brand-primary-contrast);
    }
}

.theme-input:checked + .theme-switch-label .theme-icon {
    color: var(--color-surface-emphasis);
}

.theme-switch-label {
    grid-row: 1;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    block-size: 2rem;
    inline-size: 2rem;
}

.theme-switch-label:nth-of-type(1) {
    grid-column: 1;
}

.theme-switch-label:nth-of-type(2) {
    grid-column: 2;
}

.theme-switch-label:nth-of-type(3) {
    grid-column: 3;
}

.theme-highlighter {
    pointer-events: none;
    inline-size: 2rem;
    block-size: 2rem;
    outline: 6px solid var(--color-surface-emphasis);
    background-color: transparent;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    z-index: -1;
    transition: transform var(--transition-duration-quick-2) var(--ease-squish-3);
    background: var(--color-text-on-emphasis);
    border-radius: var(--border-radius-round);
}

.theme-input:nth-of-type(1):checked ~ .theme-highlighter {
    transform: translateX(0%);
}

.theme-input:nth-of-type(2):checked ~ .theme-highlighter {
    transform: translateX(calc(100%));
}

.theme-input:nth-of-type(3) ~ .theme-highlighter {
    transform: translateX(calc(200%));
}
</style>

<fieldset class="theme-switch">
    <legend class="sr-only">Farbschema</legend>
    <!-- System  -->
    <input type="radio" name="theme" value="system" id="theme-system" class="sr-only theme-input" checked>
    <label for="theme-system" class="theme-switch-label">
        <span class="sr-only">Auto</span>
        <svg class="nc-icon theme-icon" aria-hidden="true">
            <use href={getIconPath('img-system-theme')} />
        </svg>
    </label>

    <!-- Light  -->
    <input type="radio" name="theme" value="light" id="theme-light" class="sr-only theme-input">
    <label for="theme-light" class="theme-switch-label">
        <span class="sr-only">Hell</span>
        <svg class="nc-icon theme-icon" aria-hidden="true">
            <use href={getIconPath('img-light-theme')} />
        </svg>
    </label>

    <!-- Dark  -->
    <input type="radio" name="theme" value="dark" id="theme-dark" class="sr-only theme-input">
    <label for="theme-dark" class="theme-switch-label">
        <span class="sr-only">Dunkel</span>
        <svg class="nc-icon theme-icon" aria-hidden="true">
            <use href={getIconPath('img-dark-theme')} />
        </svg>
    </label>

    <span class="theme-highlighter" aria-hidden="true"></span>
</fieldset>

<script>
const colorScheme = localStorage?.getItem('color-scheme');
const themeSwitch = document.querySelector('.theme-switch');

const setToSystem = () => {
    document.documentElement.setAttribute('data-theme', 'system');
    localStorage?.removeItem('color-scheme');
};

const setToLight = () => {
    document.documentElement.setAttribute('data-theme', 'light');
    localStorage?.setItem('color-scheme', 'light');
};

const setToDark = () => {
    document.documentElement.setAttribute('data-theme', 'dark');
    localStorage?.setItem('color-scheme', 'dark');
};

themeSwitch?.addEventListener('change', (e) => {
    const target = e.target as HTMLInputElement;
    if (target.value === 'system') {
        setToSystem();
    }

    if (target.value === 'light') {
        setToLight();
    }

    if (target.value === 'dark') {
        setToDark();
    }
});

if (colorScheme === 'dark') {
    const input = document?.getElementById('theme-dark') as HTMLInputElement;
    if (input) {
        input.checked = true;
    }
} else if (colorScheme === 'light') {
    const input = document?.getElementById('theme-light') as HTMLInputElement;
    if (input) {
        input.checked = true;
    }
} else {
    const input = document?.getElementById('theme-system') as HTMLInputElement;
    if (input) {
        input.checked = true;
    }
}
</script>
