<!-- COMPONENT-START: nc-form -->
<form class="nc-card nc-form">
    <span class="nc-slub nc-form-tag">Norcode Survey</span>
    <h2 class="nc-form-title">1. What did you think of it?</h2>
    <p class="nc-form-hint">We would love to get your opinion on this, so we can improve further and continue to provide a great service</p>
    <div class="nc-stack -far">
    <fieldset class="nc-fieldset">
        <legend>Who are you</legend>
        <p class="nc-hint">Help us get to know you</p>
        <div class="nc-stack">
        <div class="nc-input-field">
            <label for="email" class="nc-stack">
                <span class="nc-input-label">Email</span>
            </label>
            <input
                id="email"
                class="nc-input"
                aria-required="true"
                autocomplete=""
                type="email"
            />
        </div>
        <div class="nc-input-field">
            <label for="name" class="nc-stack">
                <span class="nc-input-label">What's your name?</span>
                <span class="nc-hint">Give us your name, so we know would said something wrong</span>
            </label>
            <input
                id="name"
                class="nc-input"
                aria-required="true"
                autocomplete=""
                type="text"
            />
        </div>
        </div>
    </fieldset>
    <fieldset class="nc-fieldset">
        <legend>How did we do?</legend>
        <p class="nc-hint">Please be nice</p>
        <div class="nc-stack">
        <div class="nc-input-field">
            <label for="rating" class="nc-stack">
                <span class="nc-input-label">Your rating</span>
            </label>
            <input
                id="rating"
                class="nc-input"
                aria-required="true"
                autocomplete=""
                type="number"
            />
        </div>
    </fieldset>
    <button class="nc-button -primary" type="submit">Send survey</button>
    </div>
    </div>
</form>
<!-- COMPONENT-START: nc-form -->
