<!-- COMPONENT-START: nc-form -->
<form class="nc-card nc-form">
    <span class="nc-slub nc-form-tag">Form Tag (Maybe name of form)</span>
    <h2 class="nc-form-title">Form Title</h2>
    <p class="nc-form-hint">This is a general description what the form is about. It should help indicate, what is achieved and what is required.</p>
    <div class="nc-stack -far">
        <div class="nc-input-field">
            <label for="email" class="nc-stack">
                <span class="nc-input-label">What's your name?</span>
            </label>
            <input
                id="email"
                class="nc-input"
                aria-required="true"
                autocomplete="name"
                type="text"
            />
        </div>
    <button class="nc-button -primary" type="submit">Let's go</button>
    </div>
</form>
<!-- COMPONENT-START: nc-form -->
