---
import fieldsetStandard from '../examples/fieldset/fieldsetStandard.html';
import fieldsetWithH1 from '../examples/fieldset/fieldsetWithH1.html';
import { Code } from 'astro:components';
import ComponentPreview from './ComponentPreview.astro';
---

<div class="nc-stack -far">
    <h1>Components</h1>
    <section class="nc-stack -base">
        <h2 id="form-elements">Form Elements</h2>

        <ComponentPreview
            component={fieldsetStandard({})}
            title="Fieldset"
            description="A fieldset how it was imagined."
        />

        <ComponentPreview
            component={fieldsetWithH1({})}
            title="Fieldset with H1"
            description="You can use a the legend as a Headline if you have one form step per page."
        />
    </section>
</div>
