<!-- COMPONENT-START: nc-meta-list -->
<ul class="nc-list-reset nc-cluster -nogap nc-meta-list">
    <li class="nc-meta-list-item"><span class="strong break-word">Label: &nbsp;</span><span class="break-word">This is a content</span></li>
    <li class="nc-meta-list-item"><span class="strong break-word">Year: &nbsp;</span><span class="break-word">1989</span></li>
    <li class="nc-meta-list-item"><span class="strong break-word">Tags: &nbsp;</span><span class="break-word">Science, Fiction</span></li>
</ul>
<!-- COMPONENT-END: nc-meta-list -->
