<div class="nc-box -bordered">
    <fieldset aria-describedby="fieldset-standard-description">
        <legend class="nc-legend nc-input-label">Standard Example</legend>
        <p class="nc-hint" id="fieldset-standard-description">
            An optional hint for the fieldset to describe what it is about.
        </p>
        <div class="nc-stack">
            <div class="nc-input-field">
                <label for="input" class="nc-stack">
                    <span class="nc-input-label">Label</span>
                    <span class="nc-hint"
                    >Hint is an accessible way to provide additional information that might help the user</span>
                </label>
                <input id="input" class="nc-input" />
            </div>
            <div class="nc-input-field">
                <label for="input2" class="nc-stack">
                    <span class="nc-input-label">Label 2</span>
                    <span class="nc-input-error">An error is a good indicator of something that went wrong</span>
                </label>
                <input id="input2" class="nc-input" />
            </div>
        </div>
    </fieldset>
</div>
