<fieldset>
    <legend>
        <h1>Legend as H1</h1>
    </legend>
    <p class="nc-hint">this is a hint for this fieldset</p>
    <div class="nc-input-field">
        <label for="input3" class="nc-stack">
            <span class="nc-input-label">Label</span>
            <span class="nc-hint"
                >Hint is an accessible way to provide additional information that might help the
                user</span
            >
        </label>
        <input id="input3" class="nc-input" />
    </div>
</fieldset>
