@layer config {
    :where(html) {
        /*Light Theme*/
        --color-brand-primary-light-strong: oklch(88.5% 0.192 195.3);
        --color-brand-primary-light-base: oklch(80.6% 0.18 195.3);
        --color-brand-primary-light-subtle: oklch(87.7% 0.088 195.3);

        --color-brand-secondary-light-strong: oklch(46.6% 0.229 312.35);
        --color-brand-secondary-light-base: oklch(53.8% 0.229 312.35);
        --color-brand-secondary-light-subtle: oklch(60.8% 0.256 312.35);

        --color-text-light-strong: oklch(7.4% 0.01 195.3);
        --color-text-light-base: oklch(16.4% 0.015 195.3);
        --color-text-light-subtle: oklch(30.6% 0.01 195.3);

        --color-surface-light-strong: oklch(99% 0.005 195.3);
        --color-surface-light-base: oklch(98% 0.009 195.3);
        --color-surface-light-subtle: oklch(90.1% 0.028 195.3);

        --color-border-light-strong: oklch(7.4% 0.01 195.3);
        --color-border-light-base: oklch(16.4% 0.015 195.3);
        --color-border-light-subtle: oklch(30.6% 0.01 195.3);

        --color-shadow-light-strong: oklch(8% 0.01 195.3);
        --color-shadow-light-base: oklch(8% 0.01 195.3);
        --color-shadow-light-subtle: oklch(8% 0.01 195.3);

        /* Dark Theme */

        --color-brand-primary-dark-strong: oklch(88.5% 0.192 195.3);
        --color-brand-primary-dark-base: oklch(80.6% 0.18 195.3);
        --color-brand-primary-dark-subtle: oklch(87.7% 0.088 195.3);

        --color-brand-secondary-dark-strong: oklch(46.6% 0.229 312.35);
        --color-brand-secondary-dark-base: oklch(53.8% 0.229 312.35);
        --color-brand-secondary-dark-subtle: oklch(60.8% 0.256 312.35);

        --color-text-dark-strong: oklch(99% 0.005 195.3);
        --color-text-dark-base: oklch(98% 0.009 195.3);
        --color-text-dark-subtle: oklch(90.1% 0.028 195.3);

        --color-surface-dark-strong: oklch(7.4% 0.01 195.3);
        --color-surface-dark-base: oklch(16.4% 0.015 195.3);
        --color-surface-dark-subtle: oklch(30.6% 0.01 195.3);

        --color-border-dark-strong: oklch(99% 0.005 195.3);
        --color-border-dark-base: oklch(98% 0.009 195.3);
        --color-border-dark-subtle: oklch(90.1% 0.028 195.3);

        --color-shadow-dark-strong: oklch(8% 0.01 195.3);
        --color-shadow-dark-base: oklch(8% 0.01 195.3);
        --color-shadow-dark-subtle: oklch(8% 0.01 195.3);
    }
}
