@layer config {
    :where(html) {
        /* COLORS */

        /* Light Theme */


        --color-brand-primary-light-strong-lch: 75% 0.3 203;
        --color-brand-primary-light-strong: oklch(var(--color-brand-primary-light-strong-lch));
        --color-brand-primary-light-base-lch: 64% 0.19 203;
        --color-brand-primary-light-base: oklch(var(--color-brand-primary-light-base-lch));
        --color-brand-primary-light-subtle-lch: 48% 0.10 203;
        --color-brand-primary-light-subtle: oklch(var(--color-brand-primary-light-subtle-lch));


        --color-brand-secondary-light-strong-lch: 75% 0.3 312;
        --color-brand-secondary-light-strong: oklch(var(--color-brand-secondary-light-strong-lch));
        --color-brand-secondary-light-base-lch: 64% 0.19 312;
        --color-brand-secondary-light-base: oklch(var(--color-brand-secondary-light-base-lch));
        --color-brand-secondary-light-subtle-lch: 48% 0.10 312;
        --color-brand-secondary-light-subtle: oklch(var(--color-brand-secondary-light-subtle-lch));


        --color-text-light-strong-lch: 8% 0.01 195;
        --color-text-light-strong: oklch(var(--color-text-light-strong-lch));
        --color-text-light-base-lch: 16% 0.01 195;
        --color-text-light-base: oklch(var(--color-text-light-base-lch));
        --color-text-light-subtle-lch: 30% 0.01 195;
        --color-text-light-subtle: oklch(var(--color-text-light-subtle-lch));

        --color-surface-light-strong-lch: 99% 0.01 195;
        --color-surface-light-strong: oklch(var(--color-surface-light-strong-lch));
        --color-surface-light-base-lch: 97% 0.01 195;
        --color-surface-light-base: oklch(var(--color-surface-light-base-lch));
        --color-surface-light-subtle-lch: 90% 0.01 195;
        --color-surface-light-subtle: oklch(var(--color-surface-light-subtle-lch));

        --color-border-light-strong-lch: 4% 0.01 195;
        --color-border-light-strong: oklch(var(--color-border-light-strong-lch));
        --color-border-light-base-lch: 20% 0.01 195;
        --color-border-light-base: oklch(var(--color-border-light-base-lch));
        --color-border-light-subtle-lch: 40% 0.01 195;
        --color-border-light-subtle: oklch(var(--color-border-light-subtle-lch));

        --color-shadow-light-strong-lch: 4% 0.01 195;
        --color-shadow-light-strong: oklch(var(--color-shadow-light-strong-lch));
        --color-shadow-light-base-lch: 20% 0.01 195;
        --color-shadow-light-base: oklch(var(--color-shadow-light-base-lch));
        --color-shadow-light-subtle-lch: 40% 0.01 195;
        --color-shadow-light-subtle: oklch(var(--color-shadow-light-subtle-lch));

        /* Dark Theme */


        --color-brand-primary-dark-strong-lch: 75% 0.3 195;
        --color-brand-primary-dark-strong: oklch(var(--color-brand-primary-dark-strong-lch));
        --color-brand-primary-dark-base-lch: 64% 0.19 195;
        --color-brand-primary-dark-base: oklch(var(--color-brand-primary-dark-base-lch));
        --color-brand-primary-dark-subtle-lch: 55% 0.10 195;
        --color-brand-primary-dark-subtle: oklch(var(--color-brand-primary-dark-subtle-lch));


        --color-brand-secondary-dark-strong-lch: 75% 0.3 312
        --color-brand-secondary-dark-strong: oklch(var(--color-brand-secondary-dark-strong-lch));
        --color-brand-secondary-dark-base-lch: 64% 0.19 312
        --color-brand-secondary-dark-base: oklch(var(--color-brand-secondary-dark-base-lch));
        --color-brand-secondary-dark-subtle-lch: 55% 0.10 312
        --color-brand-secondary-dark-subtle: oklch(var(--color-brand-secondary-dark-subtle-lch));


        --color-text-dark-strong-lch: 99% 0.01 195;
        --color-text-dark-strong: oklch(var(--color-text-dark-strong-lch));
        --color-text-dark-base-lch: 94% 0.01 195;
        --color-text-dark-base: oklch(var(--color-text-dark-base-lch));
        --color-text-dark-subtle-lch: 80% 0.01 195;
        --color-text-dark-subtle: oklch(var(--color-text-dark-subtle-lch));

        --color-surface-dark-strong-lch: 8% 0.01 195;
        --color-surface-dark-strong: oklch(var(--color-surface-dark-strong-lch));
        --color-surface-dark-base-lch: 12% 0.01 195;
        --color-surface-dark-base: oklch(var(--color-surface-dark-base-lch));
        --color-surface-dark-subtle-lch: 16% 0.01 195;
        --color-surface-dark-subtle: oklch(var(--color-surface-dark-subtle-lch));

        --color-border-dark-strong-lch: 99% 0.01 195;
        --color-border-dark-strong: oklch(var(--color-border-dark-strong-lch));
        --color-border-dark-base-lch: 80% 0.01 195;
        --color-border-dark-base: oklch(var(--color-border-dark-base-lch));
        --color-border-dark-subtle-lch: 54% 0.01 195;
        --color-border-dark-subtle: oklch(var(--color-border-dark-subtle-lch));

        --color-shadow-dark-strong-lch: 99% 0.01 195;
        --color-shadow-dark-strong: oklch(var(--color-shadow-dark-strong-lch));
        --color-shadow-dark-base-lch: 80% 0.01 195;
        --color-shadow-dark-base: oklch(var(--color-shadow-dark-base-lch));
        --color-shadow-dark-subtle-lch: 54% 0.01 195;
        --color-shadow-dark-subtle: oklch(var(--color-shadow-dark-subtle-lch));


        /* Status */
        --color-status-error-lch: 62.67% 0.289 25.41;
        --color-status-error: oklch(var(--color-status-error-lch));
    }
}
