@layer config {
    :where(html) {
        /* Typography */

        --font-family-mono: DMMono, monospace;
        --font-family-sans: system-ui, sans-serif;
        --font-family-serif: serif;
        --font-family-default: var(--font-family-sans);

        --font-weight-default: 400;
        --font-weight-heading: 600;
        --font-weight-active: 600;
        --font-weight-strong: 600;

        --line-height-large: 1.85;
        --line-height-base: 1.55;
        --line-height-small: 1.1;

        --tracking-base: normal;
        --tracking-tight: -0.04ch;
        --tracking-wide: 0.06ch;

        --measure-large: 88ch;
        --measure-base: 72ch;
        --measure-small: 44ch;

        --font-size-smallest: max(0.75rem, 12px);
        --font-size-small: max(0.875rem, 14px);
        --font-size-base: 1rem;
        --font-size-medium: 1.125rem;
        --font-size-large: 1.25rem;
        --font-size-largest: 1.5rem;
        --font-size-display: 3.5rem;

        /* Transparency */
        --transparency-weaker: 0.8;

        /* Spacing */

        --spacing-tiny: 0.125rem;
        --spacing-nearest: 0.25rem;
        --spacing-near: 0.5rem;
        --spacing-base: 1rem;
        --spacing-far: 2rem;
        --spacing-farthest: 4rem;

        /* Borders */

        --border-width-thin: 1px;
        --border-width-medium: 2px;
        --border-width-thick: 4px;

        --border-radius-none: 0px;
        --border-radius-small: 2px;
        --border-radius-medium: 4px;
        --border-radius-large: 8px;
        --border-radius-round: 1e5px;

        /* UI Density Elements */

        --control-height-base: 2.5em;
        --control-height-small: 2em;

        --control-spacing-minimal: 0.125em;
        --control-spacing-tiny: 0.25em;
        --control-spacing-nearest: 0.375em;
        --control-spacing-near: 0.5em;
        --control-spacing-base: 0.75em;
        --control-spacing-far: 1em;
        --control-spacing-farthest: 1.5em;

        /* SHADOWS */

        --shadow-box:
            0.4px 0.8px 1px 0px color-mix(in oklch, var(--shadow-color), transparent 68%),
            inset -0.4px 0.8px 1px 0px color-mix(in oklch, var(--color-surface-base), transparent 68%),
            inset 0.4px 0.8px 1px 0px color-mix(in oklch, var(--color-surface-base), transparent 68%);

        --shadow-inset: inset 0.4px 0.8px 1px 0px color-mix(in oklch, var(--shadow-color), transparent 68%);

        --shadow-nearest: 0.4px 0.8px 1px 0px color-mix(in oklch, var(--shadow-color), transparent 68%);
        --shadow-near:
            0.4px 0.8px 1px 0px color-mix(in oklch, var(--shadow-color), transparent 68%),
            0.7px 1.4px 1.8px -0.5px color-mix(in oklch, var(--shadow-color), transparent 72.8%),
            1.3px 2.6px 3.4px -1px color-mix(in oklch, var(--shadow-color), transparent 76.9%);
        --shadow-medium:
            0.4px 0.8px 1px 0px color-mix(in oklch, var(--shadow-color), transparent 68%),
            0.7px 1.4px 1.8px -0.5px color-mix(in oklch, var(--shadow-color), transparent 72.8%),
            1.3px 2.6px 3.4px -1px color-mix(in oklch, var(--shadow-color), transparent 76.9%),
            2.4px 4.7px 6.1px -1.5px color-mix(in oklch, var(--shadow-color), transparent 80.3%),
            4.2px 8.4px 10.9px -2px color-mix(in oklch, var(--shadow-color), transparent 83.3%);
        --shadow-far:
            0.4px 0.8px 1px 0px color-mix(in oklch, var(--shadow-color), transparent 68%),
            0.7px 1.4px 1.8px -0.5px color-mix(in oklch, var(--shadow-color), transparent 72.8%),
            1.3px 2.6px 3.4px -1px color-mix(in oklch, var(--shadow-color), transparent 76.9%),
            2.4px 4.7px 6.1px -1.5px color-mix(in oklch, var(--shadow-color), transparent 80.3%),
            4.2px 8.4px 10.9px -2px color-mix(in oklch, var(--shadow-color), transparent 83.3%),
            7.6px 15.1px 19.6px -2.5px color-mix(in oklch, var(--shadow-color), transparent 85.8%),
            13.6px 27.2px 35.4px -3px color-mix(in oklch, var(--shadow-color), transparent 87.9%),
            24.5px 49px 63.7px -3.5px color-mix(in oklch, var(--shadow-color), transparent 89.7%);
        /* Light Theme */

        --shadow-color-light: oklch(80% 0.03 265);
        --shadow-color-light-lch: 80% 0.03 265;

        /* Dark Theme */

        --shadow-color-dark: oklch(24% 0.05 265);
        --shadow-color-dark-lch: 24% 0.05 265;

        --lightness-max: 0.99;
        --lightness-min: 0.03;
        --lightness-diff: calc(var(--lightness-max) - var(--lightness-min));
        --lightness-contrast-cutoff: calc(var(--lightness-min) + var(--lightness-diff) * 0.5 + 0.05);
        --neutral-chroma-scale: 0.95;
        --c-brand-primary: 0.3;
        --h-brand-primary: 265;
        --l-brand-primary-light: 0.56;
        --color-brand-primary-base-light: oklch(
            var(--l-brand-primary-light)
            var(--c-brand-primary)
            var(--h-brand-primary)
        );
        --color-brand-primary-emphasis-light: oklch(
            calc(var(--l-brand-primary-light) * 0.85)
            calc(var(--c-brand-primary) * 1.1)
            var(--h-brand-primary)
        );
        --color-brand-primary-surface-light: oklch(
            calc(var(--lightness-max) - 0.1 + var(--l-brand-primary-light) / 10)
            calc(var(--c-brand-primary) * 0.25)
            var(--h-brand-primary)
        );
        --color-brand-primary-contrast-lightness-light: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-brand-primary-light) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-brand-primary-contrast-light: oklch(
            var(--color-brand-primary-contrast-lightness-light)
            calc(var(--c-brand-primary) * 0.25)
            var(--h-brand-primary)
        );
        --color-brand-primary-hover-light: oklch(
            var(--l-brand-primary-light)
            var(--c-brand-primary)
            var(--h-brand-primary)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-brand-primary-dark: 0.75;
        --color-brand-primary-base-dark: oklch(
            var(--l-brand-primary-dark)
            var(--c-brand-primary)
            var(--h-brand-primary)
        );
        --color-brand-primary-emphasis-dark: oklch(
            calc(var(--l-brand-primary-dark) * 1.25)
            calc(var(--c-brand-primary) * 1.1)
            var(--h-brand-primary)
        );
        --color-brand-primary-surface-dark: oklch(
            calc(var(--lightness-min) + var(--l-brand-primary-dark) / 3)
            calc(var(--c-brand-primary) * 0.25)
            var(--h-brand-primary)
        );
        --color-brand-primary-contrast-lightness-dark: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-brand-primary-dark) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-brand-primary-contrast-dark: oklch(
            var(--color-brand-primary-contrast-lightness-dark)
            calc(var(--c-brand-primary) * 0.25)
            var(--h-brand-primary)
        );
        --color-brand-primary-hover-dark: oklch(
            var(--l-brand-primary-dark)
            var(--c-brand-primary)
            var(--h-brand-primary)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --c-brand-secondary: 0.4;
        --h-brand-secondary: 215;
        --l-brand-secondary-light: 0.51;
        --color-brand-secondary-base-light: oklch(
            var(--l-brand-secondary-light)
            var(--c-brand-secondary)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-emphasis-light: oklch(
            calc(var(--l-brand-secondary-light) * 0.85)
            calc(var(--c-brand-secondary) * 1.1)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-surface-light: oklch(
            calc(var(--lightness-max) - 0.1 + var(--l-brand-secondary-light) / 10)
            calc(var(--c-brand-secondary) * 0.25)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-contrast-lightness-light: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-brand-secondary-light) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-brand-secondary-contrast-light: oklch(
            var(--color-brand-secondary-contrast-lightness-light)
            calc(var(--c-brand-secondary) * 0.25)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-hover-light: oklch(
            var(--l-brand-secondary-light)
            var(--c-brand-secondary)
            var(--h-brand-secondary)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-brand-secondary-dark: 0.76;
        --color-brand-secondary-base-dark: oklch(
            var(--l-brand-secondary-dark)
            var(--c-brand-secondary)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-emphasis-dark: oklch(
            calc(var(--l-brand-secondary-dark) * 1.25)
            calc(var(--c-brand-secondary) * 1.1)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-surface-dark: oklch(
            calc(var(--lightness-min) + var(--l-brand-secondary-dark) / 3)
            calc(var(--c-brand-secondary) * 0.25)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-contrast-lightness-dark: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-brand-secondary-dark) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-brand-secondary-contrast-dark: oklch(
            var(--color-brand-secondary-contrast-lightness-dark)
            calc(var(--c-brand-secondary) * 0.25)
            var(--h-brand-secondary)
        );
        --color-brand-secondary-hover-dark: oklch(
            var(--l-brand-secondary-dark)
            var(--c-brand-secondary)
            var(--h-brand-secondary)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-text-light: 0.28;
        --c-text-light: 0.03;
        --h-text-light: var(--h-brand-primary);
        --scale-text-light: 1.25;
        --color-text-base-light: oklch(var(--l-text-light) var(--c-text-light) var(--h-text-light));
        --color-text-muted-light: oklch(
            calc(var(--l-text-light) * var(--scale-text-light))
            calc(var(--c-text-light) * var(--neutral-chroma-scale))
            var(--h-text-light)
        );
        --color-text-subtle-light: oklch(
            calc(var(--l-text-light) * var(--scale-text-light) * var(--scale-text-light))
            calc(var(--c-text-light) * var(--neutral-chroma-scale) * var(--neutral-chroma-scale))
            var(--h-text-light)
        );
        --color-text-on-emphasis-light: oklch(var(--lightness-max) var(--c-text-light) var(--h-text-light));
        --color-text-hover-light: oklch(
            var(--l-text-light)
            var(--c-text-light)
            var(--h-text-light)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-text-dark: 0.88;
        --c-text-dark: 0.05;
        --h-text-dark: var(--h-brand-primary);
        --scale-text-dark: 0.88;
        --color-text-base-dark: oklch(var(--l-text-dark) var(--c-text-dark) var(--h-text-dark));
        --color-text-muted-dark: oklch(
            calc(var(--l-text-dark) * var(--scale-text-dark))
            calc(var(--c-text-dark) * var(--scale-text-dark))
            var(--h-text-dark)
        );
        --color-text-subtle-dark: oklch(
            calc(var(--l-text-dark) * var(--scale-text-dark) * var(--scale-text-dark))
            calc(var(--c-text-dark) * var(--scale-text-dark) * var(--scale-text-dark))
            var(--h-text-dark)
        );
        --color-text-on-emphasis-dark: oklch(var(--lightness-min) var(--c-text-dark) var(--h-text-dark));
        --color-text-hover-dark: oklch(
            var(--l-text-dark)
            var(--c-text-dark)
            var(--h-text-dark)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-surface-light: 0.99;
        --c-surface-light: 0.03;
        --h-surface-light: var(--h-brand-primary);
        --scale-surface-light: 0.98;
        --color-surface-base-light: oklch(var(--l-surface-light) var(--c-surface-light) var(--h-surface-light));
        --color-surface-muted-light: oklch(
            calc(var(--l-surface-light) * var(--scale-surface-light))
            calc(var(--c-surface-light) * var(--neutral-chroma-scale))
            var(--h-surface-light)
        );
        --color-surface-subtle-light: oklch(
            calc(var(--l-surface-light) * var(--scale-surface-light) * var(--scale-surface-light))
            calc(var(--c-surface-light) * var(--neutral-chroma-scale) * var(--neutral-chroma-scale))
            var(--h-surface-light)
        );
        --color-surface-emphasis-light: oklch(var(--lightness-min) var(--c-surface-light) var(--h-surface-light));
        --l-surface-dark: 0.15;
        --c-surface-dark: 0.05;
        --h-surface-dark: var(--h-brand-primary);
        --scale-surface-dark: 1.3;
        --color-surface-base-dark: oklch(var(--l-surface-dark) var(--c-surface-dark) var(--h-surface-dark));
        --color-surface-muted-dark: oklch(
            calc(var(--l-surface-dark) * var(--scale-surface-dark))
            calc(var(--c-surface-dark) * var(--neutral-chroma-scale))
            var(--h-surface-dark)
        );
        --color-surface-subtle-dark: oklch(
            calc(var(--l-surface-dark) * var(--scale-surface-dark) * var(--scale-surface-dark))
            calc(var(--c-surface-dark) * var(--neutral-chroma-scale) * var(--neutral-chroma-scale))
            var(--h-surface-dark)
        );
        --color-surface-emphasis-dark: oklch(var(--lightness-max) var(--c-surface-dark) var(--h-surface-dark));
        --l-border-light: 0.87;
        --c-border-light: 0.03;
        --h-border-light: var(--h-brand-primary);
        --scale-border-light: 1.025;
        --color-border-base-light: oklch(var(--l-border-light) var(--c-border-light) var(--h-border-light));
        --color-border-muted-light: oklch(
            calc(var(--l-border-light) * var(--scale-border-light))
            calc(var(--c-border-light) * var(--neutral-chroma-scale))
            var(--h-border-light)
        );
        --color-border-subtle-light: oklch(
            calc(var(--l-border-light) * var(--scale-border-light) * var(--scale-border-light))
            calc(var(--c-border-light) * var(--neutral-chroma-scale) * var(--neutral-chroma-scale))
            var(--h-border-light)
        );
        --color-border-on-emphasis-light: oklch(var(--lightness-max) var(--c-border-light) var(--h-border-light));
        --color-border-hover-light: oklch(
            var(--l-border-light)
            var(--c-border-light)
            var(--h-border-light)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-border-dark: 0.3;
        --c-border-dark: 0.05;
        --scale-border-dark: 0.98;
        --h-border-dark: var(--h-brand-primary);
        --color-border-base-dark: oklch(var(--l-border-dark) var(--c-border-dark) var(--h-border-dark));
        --color-border-muted-dark: oklch(
            calc(var(--l-border-dark) * var(--scale-border-dark))
            calc(var(--c-border-dark) * var(--neutral-chroma-scale))
            var(--h-border-dark)
        );
        --color-border-subtle-dark: oklch(
            calc(var(--l-border-dark) * var(--scale-border-dark) * var(--scale-border-dark))
            calc(var(--c-border-dark) * var(--neutral-chroma-scale) * var(--neutral-chroma-scale))
            var(--h-border-dark)
        );
        --color-border-on-emphasis-dark: oklch(var(--lightness-min) var(--c-border-dark) var(--h-border-dark));
        --color-border-hover-dark: oklch(
            var(--l-border-dark)
            var(--c-border-dark)
            var(--h-border-dark)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --c-status-success: 0.3;
        --h-status-success: 142;
        --l-status-success-light: 0.56;
        --color-status-success-base-light: oklch(
            var(--l-status-success-light)
            var(--c-status-success)
            var(--h-status-success)
        );
        --color-status-success-emphasis-light: oklch(
            calc(var(--l-status-success-light) * 0.85)
            calc(var(--c-status-success) * 1.1)
            var(--h-status-success)
        );
        --color-status-success-surface-light: oklch(
            calc(var(--lightness-max) - 0.1 + var(--l-status-success-light) / 10)
            calc(var(--c-status-success) * 0.25)
            var(--h-status-success)
        );
        --color-status-success-contrast-lightness-light: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-success-light) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-success-contrast-light: oklch(
            var(--color-status-success-contrast-lightness-light)
            calc(var(--c-status-success) * 0.25)
            var(--h-status-success)
        );
        --color-status-success-hover-light: oklch(
            var(--l-status-success-light)
            var(--c-status-success)
            var(--h-status-success)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-status-success-dark: 0.75;
        --color-status-success-base-dark: oklch(
            var(--l-status-success-dark)
            var(--c-status-success)
            var(--h-status-success)
        );
        --color-status-success-emphasis-dark: oklch(
            calc(var(--l-status-success-dark) * 1.25)
            calc(var(--c-status-success) * 1.1)
            var(--h-status-success)
        );
        --color-status-success-surface-dark: oklch(
            calc(var(--lightness-min) + var(--l-status-success-dark) / 3)
            calc(var(--c-status-success) * 0.25)
            var(--h-status-success)
        );
        --color-status-success-contrast-lightness-dark: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-success-dark) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-success-contrast-dark: oklch(
            var(--color-status-success-contrast-lightness-dark)
            calc(var(--c-status-success) * 0.25)
            var(--h-status-success)
        );
        --color-status-success-hover-dark: oklch(
            var(--l-status-success-dark)
            var(--c-status-success)
            var(--h-status-success)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --c-status-warning: 0.3;
        --h-status-warning: 97;
        --l-status-warning-light: 0.56;
        --color-status-warning-base-light: oklch(
            var(--l-status-warning-light)
            var(--c-status-warning)
            var(--h-status-warning)
        );
        --color-status-warning-emphasis-light: oklch(
            calc(var(--l-status-warning-light) * 0.85)
            calc(var(--c-status-warning) * 1.1)
            var(--h-status-warning)
        );
        --color-status-warning-surface-light: oklch(
            calc(var(--lightness-max) - 0.1 + var(--l-status-warning-light) / 10)
            calc(var(--c-status-warning) * 0.25)
            var(--h-status-warning)
        );
        --color-status-warning-contrast-lightness-light: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-warning-light) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-warning-contrast-light: oklch(
            var(--color-status-warning-contrast-lightness-light)
            calc(var(--c-status-warning) * 0.25)
            var(--h-status-warning)
        );
        --color-status-warning-hover-light: oklch(
            var(--l-status-warning-light)
            var(--c-status-warning)
            var(--h-status-warning)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-status-warning-dark: 0.75;
        --color-status-warning-base-dark: oklch(
            var(--l-status-warning-dark)
            var(--c-status-warning)
            var(--h-status-warning)
        );
        --color-status-warning-emphasis-dark: oklch(
            calc(var(--l-status-warning-dark) * 1.25)
            calc(var(--c-status-warning) * 1.1)
            var(--h-status-warning)
        );
        --color-status-warning-surface-dark: oklch(
            calc(var(--lightness-min) + var(--l-status-warning-dark) / 3)
            calc(var(--c-status-warning) * 0.25)
            var(--h-status-warning)
        );
        --color-status-warning-contrast-lightness-dark: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-warning-dark) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-warning-contrast-dark: oklch(
            var(--color-status-warning-contrast-lightness-dark)
            calc(var(--c-status-warning) * 0.25)
            var(--h-status-warning)
        );
        --color-status-warning-hover-dark: oklch(
            var(--l-status-warning-dark)
            var(--c-status-warning)
            var(--h-status-warning)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --c-status-danger: 0.3;
        --h-status-danger: 32;
        --l-status-danger-light: 0.56;
        --color-status-danger-base-light: oklch(
            var(--l-status-danger-light)
            var(--c-status-danger)
            var(--h-status-danger)
        );
        --color-status-danger-emphasis-light: oklch(
            calc(var(--l-status-danger-light) * 0.85)
            calc(var(--c-status-danger) * 1.1)
            var(--h-status-danger)
        );
        --color-status-danger-surface-light: oklch(
            calc(var(--lightness-max) - 0.1 + var(--l-status-danger-light) / 10)
            calc(var(--c-status-danger) * 0.25)
            var(--h-status-danger)
        );
        --color-status-danger-contrast-lightness-light: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-danger-light) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-danger-contrast-light: oklch(
            var(--color-status-danger-contrast-lightness-light)
            calc(var(--c-status-danger) * 0.25)
            var(--h-status-danger)
        );
        --color-status-danger-hover-light: oklch(
            var(--l-status-danger-light)
            var(--c-status-danger)
            var(--h-status-danger)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-status-danger-dark: 0.75;
        --color-status-danger-base-dark: oklch(
            var(--l-status-danger-dark)
            var(--c-status-danger)
            var(--h-status-danger)
        );
        --color-status-danger-emphasis-dark: oklch(
            calc(var(--l-status-danger-dark) * 1.25)
            calc(var(--c-status-danger) * 1.1)
            var(--h-status-danger)
        );
        --color-status-danger-surface-dark: oklch(
            calc(var(--lightness-min) + var(--l-status-danger-dark) / 3)
            calc(var(--c-status-danger) * 0.25)
            var(--h-status-danger)
        );
        --color-status-danger-contrast-lightness-dark: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-danger-dark) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-danger-contrast-dark: oklch(
            var(--color-status-danger-contrast-lightness-dark)
            calc(var(--c-status-danger) * 0.25)
            var(--h-status-danger)
        );
        --color-status-danger-hover-dark: oklch(
            var(--l-status-danger-dark)
            var(--c-status-danger)
            var(--h-status-danger)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --c-status-info: 0.3;
        --h-status-info: 245;
        --l-status-info-light: 0.56;
        --color-status-info-base-light: oklch(var(--l-status-info-light) var(--c-status-info) var(--h-status-info));
        --color-status-info-emphasis-light: oklch(
            calc(var(--l-status-info-light) * 0.85)
            calc(var(--c-status-info) * 1.1)
            var(--h-status-info)
        );
        --color-status-info-surface-light: oklch(
            calc(var(--lightness-max) - 0.1 + var(--l-status-info-light) / 10)
            calc(var(--c-status-info) * 0.25)
            var(--h-status-info)
        );
        --color-status-info-contrast-lightness-light: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max(
                    (var(--l-status-info-light) - var(--lightness-contrast-cutoff)) * 1000000,
                    0
                ),
                1
            )
        );
        --color-status-info-contrast-light: oklch(
            var(--color-status-info-contrast-lightness-light)
            calc(var(--c-status-info) * 0.25)
            var(--h-status-info)
        );
        --color-status-info-hover-light: oklch(
            var(--l-status-info-light)
            var(--c-status-info)
            var(--h-status-info)
            /
            calc(var(--transparency-weaker) / 10)
        );
        --l-status-info-dark: 0.75;
        --color-status-info-base-dark: oklch(var(--l-status-info-dark) var(--c-status-info) var(--h-status-info));
        --color-status-info-emphasis-dark: oklch(
            calc(var(--l-status-info-dark) * 1.25)
            calc(var(--c-status-info) * 1.1)
            var(--h-status-info)
        );
        --color-status-info-surface-dark: oklch(
            calc(var(--lightness-min) + var(--l-status-info-dark) / 3)
            calc(var(--c-status-info) * 0.25)
            var(--h-status-info)
        );
        --color-status-info-contrast-lightness-dark: calc(
            var(--lightness-max) -
                var(--lightness-diff) *
                min(
                max((var(--l-status-info-dark) - var(--lightness-contrast-cutoff)) * 1000000, 0),
                1
            )
        );
        --color-status-info-contrast-dark: oklch(
            var(--color-status-info-contrast-lightness-dark)
            calc(var(--c-status-info) * 0.25)
            var(--h-status-info)
        );
        --color-status-info-hover-dark: oklch(
            var(--l-status-info-dark)
            var(--c-status-info)
            var(--h-status-info)
            /
            calc(var(--transparency-weaker) / 10)
        );
    }
}
