@layer config {
    :where(html) {


        /* Spacing */

        --spacing-tiny: 0.125rem;
        --spacing-nearest: 0.25rem;
        --spacing-near: 0.5rem;
        --spacing-base: 1rem;
        --spacing-far: 2rem;
        --spacing-farthest: 4rem;


        /* Borders */

        --border-width-thin: 1px;
        --border-width-medium: 2px;
        --border-width-thick: 4px;

        --border-radius-small: 2px;
        --border-radius-medium: 4px;
        --border-radius-large: 8px;
        --border-radius-round: 1e5px;


        /* SHADOWS */
        /* Light Theme */


        --shadow-inset-light: inset 3px 3px 0px 0 oklch(20% 0.1 265 / 10%);

        --shadow-nearest-light: 0.17px 0.34px 0.41px 1px oklch(20% 0.1 265 / 51.84%), 0.26px 0.52px 0.62px -0.25px oklch(20% 0.1 265 / 43.2%), 0.41px 0.82px 0.98px -1.5px oklch(20% 0.1 265 / 36%), 0.64px 1.28px 1.54px -2.75px oklch(20% 0.1 265 / 30%), 1px 2px 2.4px -4px oklch(20% 0.1 265 / 25%);
        --shadow-near-light: 0.5px 1px 1.2px 1px oklch(20% 0.1 265 / 51.84%), 0.79px 1.58px 1.9px -0.25px oklch(20% 0.1 265 / 43.2%), 1.23px 2.46px 2.95px -1.5px oklch(20% 0.1 265 / 36%), 1.92px 3.84px 4.61px -2.75px oklch(20% 0.1 265 / 30%), 3px 6px 7.2px -4px oklch(20% 0.1 265 / 25%);
        --shadow-medium-light: 1.51px 3.02px 3.62px 1px oklch(20% 0.1 265 / 51.84%), 2.36px 4.72px 5.66px -0.25px oklch(20% 0.1 265 / 43.2%), 3.69px 7.38px 8.86px -1.5px oklch(20% 0.1 265 / 36%), 5.76px 11.52px 13.82px -2.75px oklch(20% 0.1 265 / 30%), 9px 18px 21.6px -4px oklch(20% 0.1 265 / 25%);
        --shadow-far-light: 4.87px 9.74px 11.69px 1px oklch(20% 0.1 265 / 51.84%), 7.6px 15.2px 18.24px -0.25px oklch(20% 0.1 265 / 43.2%), 11.88px 23.76px 28.51px -1.5px oklch(20% 0.1 265 / 36%), 18.56px 37.12px 44.54px -2.75px oklch(20% 0.1 265 / 30%), 29px 58px 69.6px -4px oklch(20% 0.1 265 / 25%);

        --shadow-color-light: oklch(20% 0.1 265);

        /* Dark Theme */

        --shadow-inset-dark: inset 3px 3px 0px 0  oklch(80% 0.1 265 / 10%);

        --shadow-nearest-dark: 0.17px 0.34px 0.41px 1px oklch(80% 0.1 265 / 51.84%), 0.26px 0.52px 0.62px -0.25px oklch(80% 0.1 265 / 43.2%), 0.41px 0.82px 0.98px -1.5px oklch(80% 0.1 265 / 36%), 0.64px 1.28px 1.54px -2.75px oklch(80% 0.1 265 / 30%), 1px 2px 2.4px -4px oklch(80% 0.1 265 / 25%);
        --shadow-near-dark: 0.5px 1px 1.2px 1px oklch(80% 0.1 265 / 51.84%), 0.79px 1.58px 1.9px -0.25px oklch(80% 0.1 265 / 43.2%), 1.23px 2.46px 2.95px -1.5px oklch(80% 0.1 265 / 36%), 1.92px 3.84px 4.61px -2.75px oklch(80% 0.1 265 / 30%), 3px 6px 7.2px -4px oklch(80% 0.1 265 / 25%);
        --shadow-medium-dark: 1.51px 3.02px 3.62px 1px oklch(80% 0.1 265 / 51.84%), 2.36px 4.72px 5.66px -0.25px oklch(80% 0.1 265 / 43.2%), 3.69px 7.38px 8.86px -1.5px oklch(80% 0.1 265 / 36%), 5.76px 11.52px 13.82px -2.75px oklch(80% 0.1 265 / 30%), 9px 18px 21.6px -4px oklch(80% 0.1 265 / 25%);
        --shadow-far-dark: 4.87px 9.74px 11.69px 1px oklch(80% 0.1 265 / 51.84%), 7.6px 15.2px 18.24px -0.25px oklch(80% 0.1 265 / 43.2%), 11.88px 23.76px 28.51px -1.5px oklch(80% 0.1 265 / 36%), 18.56px 37.12px 44.54px -2.75px oklch(80% 0.1 265 / 30%), 29px 58px 69.6px -4px oklch(80% 0.1 265 / 25%);

        --shadow-color-dark: oklch(80% 0.1 265);




        /* Typography */

        --font-family-mono: DMMono, monospace;
        --font-family-sans: system-ui, sans-serif;
        --font-family-serif: serif;
        --font-family-default: var(--font-family-sans);

        --font-weight-bold: 600;
        --font-weight-regular: 400;
        --font-weight-light: 300;

        --line-height-large: 2;
        --line-height-base: 1.728;
        --line-height-small: 1.2;

        --tracking-base: 0em;
        --tracking-tight: -0.04em;
        --tracking-wide: 0.06em;

        --measure-large: 88ch;
        --measure-base: 72ch;
        --measure-small: 44ch;

        --font-size-smallest: 0.444rem;
        --font-size-small: 0.667rem;
        --font-size-base: 1rem;
        --font-size-large: 1.5rem;
        --font-size-largest: 2.25rem;


        /* COLORS */

        /* Light Theme */


        --color-brand-primary-light-strong: oklch(45% 0.31 265);
        --color-brand-primary-light-base: oklch(56% 0.23 265);
        --color-brand-primary-light-subtle: oklch(64% 0.10 265);


        --color-brand-secondary-light-strong: oklch(45% 0.31 215);
        --color-brand-secondary-light-base: oklch(56% 0.23 215);
        --color-brand-secondary-light-subtle: oklch(64% 0.10 215);


        --color-text-light-strong: oklch(8% 0.01 265);
        --color-text-light-base: oklch(16% 0.01 265);
        --color-text-light-subtle: oklch(30% 0.01 265);

        --color-surface-light-strong: oklch(99% 0.01 265);
        --color-surface-light-base: oklch(97% 0.01 265);
        --color-surface-light-subtle: oklch(90% 0.01 265);

        --color-border-light-strong: oklch(4% 0.01 265);
        --color-border-light-base: oklch(20% 0.01 265);
        --color-border-light-subtle: oklch(40% 0.01 265);

        /* Dark Theme */


        --color-brand-primary-dark-strong: oklch(60% 0.3 265);
        --color-brand-primary-dark-base: oklch(68% 0.19 265);
        --color-brand-primary-dark-subtle: oklch(75% 0.10 265);


        --color-brand-secondary-dark-strong: oklch(60% 0.3 215);
        --color-brand-secondary-dark-base: oklch(68% 0.19 215);
        --color-brand-secondary-dark-subtle: oklch(75% 0.10 215);


        --color-text-dark-strong: oklch(99% 0.01 265);
        --color-text-dark-base: oklch(94% 0.01 265);
        --color-text-dark-subtle: oklch(80% 0.01 265);

        --color-surface-dark-strong: oklch(8% 0.01 265);
        --color-surface-dark-base: oklch(12% 0.01 265);
        --color-surface-dark-subtle: oklch(16% 0.01 265);

        --color-border-dark-strong: oklch(99% 0.01 265);
        --color-border-dark-base: oklch(80% 0.01 265);
        --color-border-dark-subtle: oklch(54% 0.01 265);

        /*    Status */
        --color-status-error: oklch(62.67% 0.289 25.41);


    }
}
