@layer config {
    :where(html) {
        --button-height-base: 2.5rem;
        --button-height-small: 2rem;

        --font-family-link: var(--font-family-default);

        --input-height-base: 2.5rem;
        --input-height-small: 2rem;

        --layout-max-width: 64rem;
        --layout-padding: 1rem;

        /*@todo: colors*/
        --triangle-down-url: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 84L12.7609 19.5L87.2391 19.5L50 84Z' fill='%231a0004'/%3E%3C/svg%3E");
        --triangle-up-url: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 16L87.2391 80.5H12.7609L50 16Z' fill='%231a0004'/%3E%3C/svg%3E%0A");
    }
}
