@layer config {
    :where(html) {
        --shadow-inset-light: inset 2px 2px 0px 0 var(--color-shadow-light-subtle);
        --shadow-away-light: 3px 3px 0 0 var(--color-shadow-light-strong), 3px 3px 6px 0 var(--color-shadow-light-subtle);
        --shadow-near-light: 1px 1px 0 0 var(--color-shadow-light-strong), 2px 2px 0 0 var(--color-shadow-light-strong), 2px 2px 4px 0 var(--color-shadow-light-subtle);
        --shadow-nearest-light: 1px 1px 0 0 var(--color-shadow-light-strong), 1px 1px 2px 0 var(--color-shadow-light-subtle);

        --shadow-inset-dark: inset 2px 2px 0px 0 var(--color-shadow-dark-subtle);
        --shadow-away-dark: 3px 3px 0 0 var(--color-shadow-dark-strong), 3px 3px 6px 0 var(--color-shadow-dark-subtle);
        --shadow-near-dark: 1px 1px 0 0 var(--color-shadow-dark-strong), 2px 2px 0 0 var(--color-shadow-dark-strong), 2px 2px 4px 0 var(--color-shadow-dark-subtle);
        --shadow-nearest-dark: 1px 1px 0 0 var(--color-shadow-dark-strong), 1px 1px 2px 0 var(--color-shadow-dark-subtle);
    }
}
