@layer config {
    :where(html) {
        --spacing-tiny: 0.125rem;
        --spacing-nearest: 0.25rem;
        --spacing-near: 0.5rem;
        --spacing-base: 1rem;
        --spacing-far: 2rem;
        --spacing-farthest: 4rem;
    }
}
