<!-- COMPONENT-START: nc-flow -->
<div class="nc-flow">
    <h3>Headline</h3>
    <p>
        Voluptas est voluptatem minima a et ab itaque fuga. A qui ea aperiam voluptatem reiciendis error. Consectetur
        nulla ab delectus doloribus voluptatibus unde suscipit blanditiis quo sit sunt. Nemo minima inventore ut
        possimus incidunt molestiae reprehenderit consequatur magni quas. Sint pariatur animi culpa dolores labore ut
        sapiente. Corporis et magni distinctio. Placeat eius dolores delectus soluta.
    </p>
    <h4>Another headline but longer</h4>
    <p>
        Voluptas est voluptatem minima a et ab itaque fuga. A qui ea aperiam voluptatem reiciendis error. Consectetur
        nulla ab delectus doloribus voluptatibus unde suscipit blanditiis quo sit sunt. Nemo minima inventore ut
        possimus incidunt molestiae reprehenderit consequatur magni quas. Sint pariatur animi culpa dolores labore ut
        sapiente. Corporis et magni distinctio. Placeat eius dolores delectus soluta.
    </p>
    <p>
        Voluptas est voluptatem minima a et ab itaque fuga. A qui ea aperiam voluptatem reiciendis error. Consectetur
        nulla ab delectus doloribus voluptatibus unde suscipit blanditiis quo sit sunt. Nemo minima inventore ut
        possimus incidunt molestiae reprehenderit consequatur magni quas. Sint pariatur animi culpa dolores labore ut
        sapiente. Corporis et magni distinctio. Placeat eius dolores delectus soluta.
    </p>
</div>
<!-- COMPONENT-END: nc-flow -->
