<!-- COMPONENT-START: nc-gallery -->
<div class="nc-gallery">
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
    <div class="example-block"></div>
</div>
<!-- COMPONENT-END: nc-gallery -->
