<!-- COMPONENT-START: nc-pile -->
<div class="nc-pile">
    <div style="background: #aaa; inline-size: 100%; block-size: 7rem"></div>
    <div style="background: #ccc; border-radius: var(--border-radius-round); inline-size: 4rem; block-size: 4rem"></div>
    <div style="background: #eee; border-radius: var(--border-radius-round); inline-size: 3rem; block-size: 3rem"></div>
    <div style="background: rgba(0, 0, 0, 0.2); padding: 0.2rem; border-radius: var(--border-radius-medium); text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8); color: white">
        Top Layer
    </div>
</div>
<!-- COMPONENT-END: nc-pile -->
