@layer components.badge {
    :where(.badge) {
        font-family: var(--font-family-mono);
        letter-spacing: var(--tracking-tight);
        font-weight: var(--font-weight-default);
        color: var(--text, var(--color-text-base));
        border: var(--border-width-thin) solid var(--text, var(--color-text-base));
        border-radius: var(--border-radius-small);
        background: var(--surface, transparent);
        padding: var(--control-spacing-minimal, 0.125em) var(--control-spacing-near, 0.5em);
        inline-size: max-content;
    }
}
