.badge {
  --color: currentColor;

  font-family: var(--font-family-sans);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-regular);
  color: var(--color);
  border: var(--border-width-thin) solid var(--color);
  padding: var(--spacing-nearest);
  text-transform: lowercase;
  width: max-content;
  max-width: max-content;
  line-height: 1;

  &.-dark {
    --color: var(--color-surface-strong);
  }

  &.-light {
    --color: var(--color-text-strong);
  }
}
