:where(.nc-breadcrumbs) {
    inline-size: max-content;
    max-inline-size: 100%;
    background-color: var(--nc-breadcrumbs-surface, transparent);
    color: var(--nc-breadcrumbs-text, --color-text-default);

    & > * {
        color: inherit;
    }

    & > *:last-child {
        color: var(--color-brand-primary-base);
    }

    & > *:not(:last-child):after {
        padding-inline: 1ch;
        color: var(--nc-breadcrumbs-fg-subtle, --color-text-subtle);
        content: '›';
        font-size: inherit;
    }

    & [aria-current='page'] {
        pointer-events: none;
    }

    & a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
