@layer components.cards {
    :where(.nc-card) {
        --_card-background-color: var(--card-background-color, var(--color-surface-base));
        --_card-color: var(--card-color, var(--color-text-base));
        --_card-border-color: var(--card-border-color, var(--color-border-base));
        --_card-shadow: var(--card-shadow, var(--shadow-medium));
        --_card-padding-inline: var(--card-padding-inline, var(--spacing-base));
        --_card-padding-block: var(--card-padding-block, var(--spacing-far));
        --_card-border-radius: var(--card-border-radius, var(--border-radius-large));

        &[data-size="xs"] {
            --_card-padding-inline: var(--card-padding-inline, var(--spacing-nearest));
            --_card-padding-block: var(--card-padding-block, var(--spacing-near));
            --_card-border-radius: var(--card-border-radius, var(--border-radius-medium));
        }

        &[data-size="sm"] {
            --_card-padding-inline: var(--card-padding-inline, var(--spacing-near));
            --_card-padding-block: var(--card-padding-block, var(--spacing-base));
        }

        inline-size: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding-inline: var(--_card-padding-inline);
        padding-block: var(--_card-padding-block);
        color: var(--_card-color);
        overflow: hidden;

        appearance: none;
        border: 1px solid var(--_card-border-color);

        background-color: var(--_card-background-color);
        border-radius: var(--_card-border-radius);
        box-shadow: var(--_card-shadow);

        transition: border-color var(--transition-duration-base) var(--ease-2);

        @media (width >= 480px) {
            --_card-padding-inline: var(--card-padding-inline, var(--spacing-far));
        }

        @media (width >= 1024px) {
            --_card-padding-inline: var(--card-padding-inline, var(--spacing-farthest));
        }

        &:is([href], button) {
            text-decoration: none;

            &:hover {
                border-color: var(--color-brand-primary-base);
            }
        }
    }

    :where(.nc-clickable-card) {
        cursor: pointer;
        position: relative;

        &:focus-within,
        &:hover {
            outline: var(--border-width-medium) solid var(--color-brand-primary-base);
        }

        & a[data-link="main"] {
            text-decoration: none;
            font: inherit;

            &:focus-within:focus-visible,
            &:hover {
                outline: none;
            }

            &:before {
                content: "";
                position: absolute;
                inset: 0;
            }
        }

        & a[data-link="extra"] {
            position: relative;
        }
    }
}
