@layer components {
    dialog {
        --_dialog-transition-duration: var(--dialog-transition-duration, var(--transition-duration-base));

        display: block;
        position: fixed;
        inset: 0;
        z-index: var(--layer-important);
        animation: close-dialog var(--_dialog-transition-duration) cubic-bezier(0.7, 0, 1, 1) forwards;
        transition: opacity var(--_dialog-transition-duration) cubic-bezier(0.7, 0, 1, 1);
        overflow: hidden;

        &[open] {
            animation: open-dialog var(--_dialog-transition-duration) cubic-bezier(0, 0.6, 0.58, 1);
        }

        &:not([open]) {
            pointer-events: none;
            opacity: 0;
        }

        &::backdrop {
            background: rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(3px);
        }
    }

    .nc-dialog {
        --_dialog-radius: var(--dialog-radius, var(--border-radius-medium));
        --_dialog-padding-inline: var(--dialog-padding-inline, var(--spacing-base));
        --_dialog-close-size: var(--dialog-close-size, var(--button-height-base));

        border: var(--border-width-thin) solid var(--color-border-default);
        inline-size: calc(100dvw - 2 * var(--spacing-base));
        block-size: 90dvh;
        max-inline-size: 28rem;
        background: var(--color-surface-default);
        box-shadow: var(--shadow-medium);
        margin-block: 5dvh;
        margin-inline: auto;
        padding: 0;
        border-radius: var(--_dialog-radius);
    }

    .dialog-container {
        display: grid;
        grid-template:
          'header header' calc(2 * var(--spacing-near) + var(--_dialog-close-size))
          'content content' 1fr
          'footer footer' auto / 1fr 1fr;
        inline-size: 100%;
        block-size: 100%;
    }

    .dialog-header {
        grid-area: header;
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
        background-color: var(--color-surface-subtle);
        padding-inline: var(--_dialog-padding-inline);
        border-radius: var(--_dialog-radius) var(--_dialog-radius) 0 0;
        display: grid;
        grid-template: 'title close' / 1fr var(--_dialog-close-size);
        align-items: flex-start;
        padding-block: var(--spacing-near);
        overflow: hidden;
    }

    .dialog-header > button[data-closes-dialog] {
        grid-area: close;
        inline-size: var(--_dialog-close-size);
        block-size: var(--_dialog-close-size);
    }

    .dialog-title {
        font-size: var(--font-size-large);
        margin: 0;
        padding: 0;
        line-height: var(--_dialog-close-size);
    }

    .dialog-content {
        grid-area: content;
        padding-inline: var(--_dialog-padding-inline);
        padding-block: var(--spacing-near);
        overflow: auto;
    }

    .dialog-actions {
        grid-area: footer;
        padding-inline: var(--_dialog-padding-inline);
        padding-block: var(--spacing-near);
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        border-block-start: var(--border-width-thin) solid var(--color-border-muted);
        background-color: var(--color-surface-subtle);

    }

    html:has(dialog[open]) {
        overflow-y: scroll;
    }

    @keyframes open-dialog {
        from {
            transform: translate(0%, 100dvh) rotate(0deg);
        }
        to {
            transform: translate(0dvh, 0%) rotate(0deg);
        }
    }

    @keyframes close-dialog {
        from {
            transform: translate(0dvh, 0%) rotate(0deg);
        }
        to {
            transform: translate(0%, 100dvh) rotate(10deg);
        }
    }

}
