@layer components.dialogs {
    :where(.nc-dialog) {
        --_dialog-padding-inline: var(--dialog-padding-inline, var(--spacing-base));
        --_dialog-close-size: var(--dialog-close-size, var(--control-height-base));

        border: var(--border-width-thin) solid var(--color-border-base);
        inline-size: 100dvw;
        block-size: max-content;
        max-inline-size: var(--dialog-max-inline-size, 28rem);
        max-block-size: 100dvh;
        background: var(--color-surface-base);
        padding: 0;
        overflow: hidden;
        border-radius: var(--dialog-radius, var(--border-radius-medium));

        @media (min-width: 36rem) {
            inline-size: calc(100dvw - 2 * var(--layout-padding, var(--spacing-base)));
            max-block-size: var(--dialog-max-block-size, 90dvh);
            margin-inline: auto;
            box-shadow: var(--shadow-medium);
        }

        /* Credits to Adam Argyle. Modified from: https://nerdy.dev/notebook/dialog-starter.html */

        /* Exit Stage To */
        --transform-in: perspective(80px) rotateX(0.5deg) scale(0.9);
        --transform-out: perspective(80px) rotateX(0.5deg) scale(0.95);
        --transition-time-in: var(--transition-duration-gentle-1);
        --transition-time-out: var(--transition-duration-moderate-1);

        transform: var(--transform-in);

        &, &::backdrop {
            transition:
                display var(--transition-time-out) allow-discrete,
                overlay var(--transition-time-out) allow-discrete,
                transform var(--transition-time-out) var(--ease-in-out-2),
                opacity var(--transition-duration-moderate-1) var(--ease-in-out-2);

            /* Exit Stage To */
            opacity: 0;
        }

        & {
            transform: var(--transform-out);
        }

        /* On Stage */
        &[open] {
            opacity: 1;
            transform: perspective(80px) rotateX(0deg) scale(1);

            &, &::backdrop {
                transition:
                    display var(--transition-time-in) allow-discrete,
                    overlay var(--transition-time-in) allow-discrete,
                    transform var(--transition-time-in) var(--ease-in-out-2),
                    opacity var(--transition-time-in) var(--ease-in-out-2);
            }

            &::backdrop {
                backdrop-filter: blur(20px);
                opacity: 1;
            }
        }

        /* Enter Stage From */
        @starting-style {
            &[open],
            &[open]::backdrop {
                opacity: 0;
            }

            &[open] {
                transform: var(--transform-in);
            }
        }

        &::backdrop {
            background: rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(3px);
        }

        :where(.dialog-container) {
            display: grid;
            grid-template:
                "header header" auto
                "content content" 1fr
                "footer footer" auto / 1fr 1fr;
            inline-size: 100%;
            block-size: max-content;
            max-block-size: inherit;

            & > *:first-child {
                border-radius: var(--_dialog-radius) var(--_dialog-radius) 0 0;
            }

            & > *:last-child {
                border-radius: 0 0 var(--_dialog-radius) var(--_dialog-radius);
            }
        }

        :where(.dialog-header) {
            grid-area: header;
            border-block-end: var(--border-width-thin) solid var(--color-border-muted);
            background-color: var(--color-surface-subtle);
            padding-inline: var(--_dialog-padding-inline);
            display: grid;
            grid-template: "title close" / 1fr var(--_dialog-close-size);
            align-items: flex-start;
            padding-block: var(--spacing-near);
            min-inline-size: calc(2 * var(--spacing-near) + var(--_dialog-close-size));
        }

        :where(.dialog-header) > button[data-closes-dialog] {
            grid-area: close;
            inline-size: var(--_dialog-close-size);
            block-size: var(--_dialog-close-size);
        }

        :where(.dialog-title) {
            font-size: var(--font-size-large);
            margin: 0;
            padding: 0;
            line-height: var(--_dialog-close-size);
            overflow-wrap: anywhere;
        }

        :where(.dialog-content) {
            grid-area: content;
            padding-inline: var(--_dialog-padding-inline);
            padding-block: var(--spacing-near);
            overflow: auto;
            overscroll-behavior: contain;
            scroll-behavior: smooth;
        }

        :where(.dialog-actions) {
            grid-area: footer;
            padding-inline: var(--_dialog-padding-inline);
            padding-block: var(--spacing-near);
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            border-block-start: var(--border-width-thin) solid var(--color-border-muted);
            background-color: var(--color-surface-subtle);
        }
    }
}
