@layer components.forms {
    :where(.nc-form) {
        inline-size: min(100%, var(--nc-form-max-inline-size, var(--measure-base)));
    }

    :where(.nc-form-title) {
        font-size: var(--font-size-largest);
        font-weight: var(--font-weight-heading);
        line-height: var(--line-height-small);
        color: var(--color-text-base);
    }

    :where(.nc-form-hint) {
        margin-block: 0.5lh;
        font-size: var(--font-size-large);
        color: var(--color-text-muted);
    }

    :where(fieldset:not([class]), .nc-fieldset) {
        border: none;
        margin: 0;
        padding: 0;
        min-inline-size: 0;
    }

    :where(legend:not([class]), .nc-legend) {
        padding: 0;
        border: none;
        border-radius: 0;
        inline-size: 100%;

        &+* {
            margin-block-start: var(--nc-legend-spacing, 0.75lh);
        }
    }

    :where( :is(fieldset:not([class]), .nc-fieldset):has( :is(.nc-legend + .nc-hint, legend:not([class]) + .nc-hint)) > :is(legend:not([class]), .nc-legend)) {
        &+.nc-hint {
            --nc-legend-spacing: 0;
            margin-block-end: 0.6lh;
        }
    }
}
