@layer components.icons {
    :where(.nc-icon) {
        --icon-size: 2ex;

        display: block;
        flex-shrink: 0;
        inline-size: var(--icon-size);
        block-size: var(--icon-size);

        &[data-flip="true"] {
            transform: scaleX(-1);
        }

        &[data-size="xs"] {
            --icon-size: 1ex;
        }

        &[data-size="sm"] {
            --icon-size: 1.5ex;
        }

        &[data-size="md"] {
            --icon-size: 2ex;
        }

        &[data-size="lg"] {
            --icon-size: 3ex;
        }

        &[data-size="xl"] {
            --icon-size: 4ex;
        }

        &[data-size="inline"] {
            --icon-size: 0.8lh;
        }

        &[data-size="button"] {
            --icon-size: var(--button-height-base);
        }

        &[data-animation="spinning"] {
            animation: spinning 1s infinite linear;
        }
    }

    :where(button, .nc-button) > .nc-icon {
        --icon-size: 2ex;
    }

    @keyframes spinning {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}
