.nc-icon {
    --icon-size: calc(var(--spacing-base) * 1.5);

    display: block;
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
    fill: currentColor;

    &[data-flip='true'] {
        transform: scaleX(-1);
    }

    &[data-size='xs'] {
        --icon-size: var(--spacing-near);
    }

    &[data-size='sm'] {
        --icon-size: var(--spacing-base);
    }

    &[data-size='md'] {
        --icon-size: calc(var(--spacing-base) * 1.5);
    }

    &[data-size='lg'] {
        --icon-size: calc(var(--spacing-base) * 1.75);
    }

    &[data-size='xl'] {
        --icon-size: calc(var(--spacing-base) * 2);
    }

    &[data-size='inline'] {
        --icon-size: 0.75lh;
    }

    &[data-animation='spinning'] {
        animation: spinning 1s infinite linear;
    }
}

:where(button, .nc-button) > .nc-icon {
    --icon-size: 1rlh;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
