@layer components {
    .nc-icon {
        inline-size: 1em;
        block-size: 1em;

        &.-small {
            inline-size: 0.75em;
            block-size: 0.75em;
        }

        &.-large {
            inline-size: 1.25em;
            block-size: 1.25em;
        }
    }
}
