@layer components.lists {
    :where(.nc-meta-list) {
        inline-size: 100%;
        container: metalist / inline-size;
    }

    :where(.nc-meta-list-item) {
        overflow-wrap: break-word;
        max-inline-size: 100%;
        hyphens: auto;
        inline-size: 100%;

        &:not(:last-child) {
            margin-block-end: 1ch;
        }
    }

    @container metalist (min-width: 20rem) {
        :where(.nc-meta-list-item) {
            inline-size: auto;

            &:not(:last-child):after {
                content: '';
                border-right: var(--border-width-medium) solid var(--color-border-muted);
                margin: 0 1ch;
                transform: calc(var(--border-width-medium) / 2);
            }
        }
    }

    :where(.nc-list-reset) {
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            margin: 0;
        }
    }
}
