@layer theme {
    :where(html) {
        color-scheme: light;

        --color-brand-primary-strong: var(--color-brand-primary-light-strong);
        --color-brand-primary-base: var(--color-brand-primary-light-base);
        --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);

        --color-brand-secondary-strong: var(--color-brand-secondary-light-strong);
        --color-brand-secondary-base: var(--color-brand-secondary-light-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);

        --color-text-strong: var(--color-text-light-strong);
        --color-text-base: var(--color-text-light-base);
        --color-text-subtle: var(--color-text-light-subtle);

        --color-surface-strong: var(--color-surface-light-strong);
        --color-surface-base: var(--color-surface-light-base);
        --color-surface-subtle: var(--color-surface-light-subtle);

        --color-border-strong: var(--color-border-light-strong);
        --color-border-base: var(--color-border-light-base);
        --color-border-subtle: var(--color-border-light-subtle);

        --shadow-inset: var(--shadow-inset-light);
        --shadow-away: var(--shadow-away-light);
        --shadow-near: var(--shadow-near-light);
        --shadow-nearest: var(--shadow-nearest-light);


        --triangle-down-url: var(--triangle-down-url-light);
        --triangle-up-url: var(--triangle-up-url-light);
    }

    @media (--OSdark) {
        :root {
            color-scheme: dark;

            --color-brand-primary-strong: var(--color-brand-primary-dark-strong);
            --color-brand-primary-base: var(--color-brand-primary-dark-base);
            --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);

            --color-brand-secondary-strong: var(--color-brand-secondary-dark-strong);
            --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
            --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);

            --color-text-strong: var(--color-text-dark-strong);
            --color-text-base: var(--color-text-dark-base);
            --color-text-subtle: var(--color-text-dark-subtle);

            --color-surface-strong: var(--color-surface-dark-strong);
            --color-surface-base: var(--color-surface-dark-base);
            --color-surface-subtle: var(--color-surface-dark-subtle);

            --color-border-strong: var(--color-border-dark-strong);
            --color-border-base: var(--color-border-dark-base);
            --color-border-subtle: var(--color-border-dark-subtle);

            --shadow-inset: var(--shadow-inset-dark);
            --shadow-away: var(--shadow-away-dark);
            --shadow-near: var(--shadow-near-dark);
            --shadow-nearest: var(--shadow-nearest-dark);

            --triangle-down-url: var(--triangle-down-url-dark);
            --triangle-up-url: var(--triangle-up-url-dark);
        }
    }

    [color-scheme="light"] {
        color-scheme: light;

        --color-brand-primary-strong: var(--color-brand-primary-light-strong);
        --color-brand-primary-base: var(--color-brand-primary-light-base);
        --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);

        --color-brand-secondary-strong: var(--color-brand-secondary-light-strong);
        --color-brand-secondary-base: var(--color-brand-secondary-light-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);

        --color-text-strong: var(--color-text-light-strong);
        --color-text-base: var(--color-text-light-base);
        --color-text-subtle: var(--color-text-light-subtle);

        --color-surface-strong: var(--color-surface-light-strong);
        --color-surface-base: var(--color-surface-light-base);
        --color-surface-subtle: var(--color-surface-light-subtle);

        --color-border-strong: var(--color-border-light-strong);
        --color-border-base: var(--color-border-light-base);
        --color-border-subtle: var(--color-border-light-subtle);

        --shadow-inset: var(--shadow-inset-light);
        --shadow-away: var(--shadow-away-light);
        --shadow-near: var(--shadow-near-light);
        --shadow-nearest: var(--shadow-nearest-light);

        --triangle-down-url: var(--triangle-down-url-light);
        --triangle-up-url: var(--triangle-up-url-light);


    }

    [color-scheme="dark"] {
        color-scheme: dark;

        --color-brand-primary-strong: var(--color-brand-primary-dark-strong);
        --color-brand-primary-base: var(--color-brand-primary-dark-base);
        --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);

        --color-brand-secondary-strong: var(--color-brand-secondary-dark-strong);
        --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);

        --color-text-strong: var(--color-text-dark-strong);
        --color-text-base: var(--color-text-dark-base);
        --color-text-subtle: var(--color-text-dark-subtle);

        --color-surface-strong: var(--color-surface-dark-strong);
        --color-surface-base: var(--color-surface-dark-base);
        --color-surface-subtle: var(--color-surface-dark-subtle);

        --color-border-strong: var(--color-border-dark-strong);
        --color-border-base: var(--color-border-dark-base);
        --color-border-subtle: var(--color-border-dark-subtle);

        --shadow-inset: var(--shadow-inset-dark);
        --shadow-away: var(--shadow-away-dark);
        --shadow-near: var(--shadow-near-dark);
        --shadow-nearest: var(--shadow-nearest-dark);

        --triangle-down-url: var(--triangle-down-url-dark);
        --triangle-up-url: var(--triangle-up-url-dark);

    }
}
