@layer theme {
  :where(html) {
    color-scheme: light;

    --color-brand-primary-emphasis-lch: var(
      --color-brand-primary-light-emphasis-lch
    );
    --color-brand-primary-emphasis: var(--color-brand-primary-light-emphasis);
    --color-brand-primary-base-lch: var(--color-brand-primary-light-base-lch);
    --color-brand-primary-base: var(--color-brand-primary-light-base);
    --color-brand-primary-subtle-lch: var(
      --color-brand-primary-light-subtle-lch
    );
    --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);
    --color-brand-primary-hover: var(--color-brand-primary-light-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-light-contrast);

    --color-brand-secondary-emphasis-lch: var(
      --color-brand-secondary-light-emphasis-lch
    );
    --color-brand-secondary-emphasis: var(--color-brand-secondary-light-emphasis);
    --color-brand-secondary-base-lch: var(
      --color-brand-secondary-light-base-lch
    );
    --color-brand-secondary-base: var(--color-brand-secondary-light-base);
    --color-brand-secondary-subtle-lch: var(
      --color-brand-secondary-light-subtle-lch
    );
    --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);
    --color-brand-secondary-hover: var(--color-brand-secondary-light-hover);

    --color-text-default-lch: var(--color-text-light-default-lch);
  --color-text-default: var(--color-text-light-default);
    --color-text-muted-lch: var(--color-text-light-muted-lch);
  --color-text-muted: var(--color-text-light-muted);
    --color-text-subtle-lch: var(--color-text-light-subtle-lch);
  --color-text-subtle: var(--color-text-light-subtle);
    --color-text-on-emphasis-lch: var(--color-text-light-on-emphasis-lch);
  --color-text-on-emphasis: var(--color-text-light-on-emphasis);

    --color-surface-default-lch: var(--color-surface-light-default-lch);
  --color-surface-default: var(--color-surface-light-default);
    --color-surface-muted-lch: var(--color-surface-light-muted-lch);
  --color-surface-subtle: var(--color-surface-light-subtle);
    --color-surface-subtle-lch: var(--color-surface-light-subtle-lch);
  --color-surface-inset: var(--color-surface-light-inset);
    --color-surface-inset-lch: var(--color-surface-light-inset-lch);
  --color-surface-emphasis: var(--color-surface-light-emphasis);

    --color-border-default-lch: var(--color-border-light-default-lch);
  --color-border-default: var(--color-border-light-default);
    --color-border-muted-lch: var(--color-border-light-muted-lch);
  --color-border-muted: var(--color-border-light-muted);

    --shadow-color: var(--shadow-color-light);
    --shadow-inset: var(--shadow-inset-light);
    --shadow-nearest: var(--shadow-nearest-light);
    --shadow-near: var(--shadow-near-light);
    --shadow-medium: var(--shadow-medium-light);
    --shadow-far: var(--shadow-far-light);

    --triangle-down-url: var(--triangle-down-url-light);
    --triangle-up-url: var(--triangle-up-url-light);
  }

  @media (--OSdark) {
    :where(html) {
      color-scheme: dark;

      --color-brand-primary-emphasis-lch: var(
        --color-brand-primary-dark-emphasis-lch
      );
      --color-brand-primary-emphasis: var(--color-brand-primary-dark-emphasis);
      --color-brand-primary-base-lch: var(--color-brand-primary-dark-base-lch);
      --color-brand-primary-base: var(--color-brand-primary-dark-base);
      --color-brand-primary-subtle-lch: var(
        --color-brand-primary-dark-subtle-lch
      );
      --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);
      --color-brand-primary-hover: var(--color-brand-primary-dark-hover);
      --color-brand-primary-contrast: var(--color-brand-primary-dark-contrast);

      --color-brand-secondary-emphasis-lch: var(
        --color-brand-secondary-dark-emphasis-lch
      );
      --color-brand-secondary-emphasis: var(--color-brand-secondary-dark-emphasis);
      --color-brand-secondary-base-lch: var(
        --color-brand-secondary-dark-base-lch
      );
      --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
      --color-brand-secondary-subtle-lch: var(
        --color-brand-secondary-dark-subtle-lch
      );
      --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);
      --color-brand-secondary-hover: var(--color-brand-secondary-dark-hover);
      --color-brand-secondary-contrast: var(
        --color-brand-secondary-dark-contrast
      );

      --color-text-default-lch: var(--color-text-dark-default-lch);
      --color-text-default: var(--color-text-dark-default);
      --color-text-muted-lch: var(--color-text-dark-muted-lch);
      --color-text-muted: var(--color-text-dark-muted);
      --color-text-subtle-lch: var(--color-text-dark-subtle-lch);
      --color-text-subtle: var(--color-text-dark-subtle);
      --color-text-on-emphasis-lch: var(--color-text-dark-on-emphasis-lch);
      --color-text-on-emphasis: var(--color-text-dark-on-emphasis);

      --color-surface-default-lch: var(--color-surface-dark-default-lch);
      --color-surface-default: var(--color-surface-dark-default);
      --color-surface-muted-lch: var(--color-surface-dark-muted-lch);
      --color-surface-subtle: var(--color-surface-dark-subtle);
      --color-surface-subtle-lch: var(--color-surface-dark-subtle-lch);
      --color-surface-inset: var(--color-surface-dark-inset);
      --color-surface-inset-lch: var(--color-surface-dark-inset-lch);
      --color-surface-emphasis: var(--color-surface-dark-emphasis);

      --color-border-default-lch: var(--color-border-dark-default-lch);
      --color-border-default: var(--color-border-dark-default);
      --color-border-muted-lch: var(--color-border-dark-muted-lch);
      --color-border-muted: var(--color-border-dark-muted);

      --shadow-color: var(--shadow-color-dark);
      --shadow-inset: var(--shadow-inset-dark);
      --shadow-nearest: var(--shadow-nearest-dark);
      --shadow-near: var(--shadow-near-dark);
      --shadow-medium: var(--shadow-medium-dark);
      --shadow-far: var(--shadow-far-dark);

      --triangle-down-url: var(--triangle-down-url-dark);
      --triangle-up-url: var(--triangle-up-url-dark);
    }
  }

  :where([color-scheme="light"]) {
    color-scheme: light;

    --color-brand-primary-emphasis-lch: var(
      --color-brand-primary-light-emphasis-lch
    );
    --color-brand-primary-emphasis: var(--color-brand-primary-light-emphasis);
    --color-brand-primary-base-lch: var(--color-brand-primary-light-base-lch);
    --color-brand-primary-base: var(--color-brand-primary-light-base);
    --color-brand-primary-subtle-lch: var(
      --color-brand-primary-light-subtle-lch
    );
    --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);
    --color-brand-primary-hover: var(--color-brand-primary-light-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-light-contrast);

    --color-brand-secondary-emphasis-lch: var(
      --color-brand-secondary-light-emphasis-lch
    );
    --color-brand-secondary-emphasis: var(--color-brand-secondary-light-emphasis);
    --color-brand-secondary-base-lch: var(
      --color-brand-secondary-light-base-lch
    );
    --color-brand-secondary-base: var(--color-brand-secondary-light-base);
    --color-brand-secondary-subtle-lch: var(
      --color-brand-secondary-light-subtle-lch
    );
    --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);
    --color-brand-secondary-hover: var(--color-brand-secondary-light-hover);
    --color-brand-secondary-contrast: var(
      --color-brand-secondary-light-contrast
    );

    --color-text-default-lch: var(--color-text-light-default-lch);
    --color-text-default: var(--color-text-light-default);
    --color-text-muted-lch: var(--color-text-light-muted-lch);
    --color-text-muted: var(--color-text-light-muted);
    --color-text-subtle-lch: var(--color-text-light-subtle-lch);
    --color-text-subtle: var(--color-text-light-subtle);
    --color-text-on-emphasis-lch: var(--color-text-light-on-emphasis-lch);
    --color-text-on-emphasis: var(--color-text-light-on-emphasis);

    --color-surface-default-lch: var(--color-surface-light-default-lch);
    --color-surface-default: var(--color-surface-light-default);
    --color-surface-muted-lch: var(--color-surface-light-muted-lch);
    --color-surface-subtle: var(--color-surface-light-subtle);
    --color-surface-subtle-lch: var(--color-surface-light-subtle-lch);
    --color-surface-inset: var(--color-surface-light-inset);
    --color-surface-inset-lch: var(--color-surface-light-inset-lch);
    --color-surface-emphasis: var(--color-surface-light-emphasis);

    --color-border-default-lch: var(--color-border-light-default-lch);
    --color-border-default: var(--color-border-light-default);
    --color-border-muted-lch: var(--color-border-light-muted-lch);
    --color-border-muted: var(--color-border-light-muted);

    --shadow-color: var(--shadow-color-light);
    --shadow-inset: var(--shadow-inset-light);
    --shadow-nearest: var(--shadow-nearest-light);
    --shadow-near: var(--shadow-near-light);
    --shadow-medium: var(--shadow-medium-light);
    --shadow-far: var(--shadow-far-light);

    --triangle-down-url: var(--triangle-down-url-light);
    --triangle-up-url: var(--triangle-up-url-light);
  }

  :where([color-scheme="dark"]) {
    color-scheme: dark;

    --color-brand-primary-emphasis-lch: var(
      --color-brand-primary-dark-emphasis-lch
    );
    --color-brand-primary-emphasis: var(--color-brand-primary-dark-emphasis);
    --color-brand-primary-base-lch: var(--color-brand-primary-dark-base-lch);
    --color-brand-primary-base: var(--color-brand-primary-dark-base);
    --color-brand-primary-subtle-lch: var(
      --color-brand-primary-dark-subtle-lch
    );
    --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);
    --color-brand-primary-hover: var(--color-brand-primary-dark-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-dark-contrast);

    --color-brand-secondary-emphasis-lch: var(
      --color-brand-secondary-dark-emphasis-lch
    );
    --color-brand-secondary-emphasis: var(--color-brand-secondary-dark-emphasis);
    --color-brand-secondary-base-lch: var(
      --color-brand-secondary-dark-base-lch
    );
    --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
    --color-brand-secondary-subtle-lch: var(
      --color-brand-secondary-dark-subtle-lch
    );
    --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);
    --color-brand-secondary-hover: var(--color-brand-secondary-dark-hover);
    --color-brand-secondary-contrast: var(
      --color-brand-secondary-dark-contrast
    );

    --color-text-default-lch: var(--color-text-dark-default-lch);
    --color-text-default: var(--color-text-dark-default);
    --color-text-muted-lch: var(--color-text-dark-muted-lch);
    --color-text-muted: var(--color-text-dark-muted);
    --color-text-subtle-lch: var(--color-text-dark-subtle-lch);
    --color-text-subtle: var(--color-text-dark-subtle);
    --color-text-on-emphasis-lch: var(--color-text-dark-on-emphasis-lch);
    --color-text-on-emphasis: var(--color-text-dark-on-emphasis);

    --color-surface-default-lch: var(--color-surface-dark-default-lch);
    --color-surface-default: var(--color-surface-dark-default);
    --color-surface-muted-lch: var(--color-surface-dark-muted-lch);
    --color-surface-subtle: var(--color-surface-dark-subtle);
    --color-surface-subtle-lch: var(--color-surface-dark-subtle-lch);
    --color-surface-inset: var(--color-surface-dark-inset);
    --color-surface-inset-lch: var(--color-surface-dark-inset-lch);
    --color-surface-emphasis: var(--color-surface-dark-emphasis);

    --color-border-default-lch: var(--color-border-dark-default-lch);
    --color-border-default: var(--color-border-dark-default);
    --color-border-muted-lch: var(--color-border-dark-muted-lch);
    --color-border-muted: var(--color-border-dark-muted);

    --shadow-color: var(--shadow-color-dark);
    --shadow-inset: var(--shadow-inset-dark);
    --shadow-nearest: var(--shadow-nearest-dark);
    --shadow-near: var(--shadow-near-dark);
    --shadow-medium: var(--shadow-medium-dark);
    --shadow-far: var(--shadow-far-dark);

    --triangle-down-url: var(--triangle-down-url-dark);
    --triangle-up-url: var(--triangle-up-url-dark);
  }
}
