---
import ColorPreview from './ColorPreview.astro';
import { Content as ColorsExplanation } from '../../../../docs/colors.md';

const colors = [
    {
        token: '--color-brand-primary-emphasis',
        description:
            'Background: Use to highlight the most important item of a view or an interface.',
    },
    {
        token: '--color-brand-primary-base',
        description: 'Primary brand color. Used for accents and highlights.',
    },
    {
        token: '--color-brand-primary-surface',
        description: 'Subtle version of the primary brand color. Used for backgrounds and borders.',
    },

    {
        token: '--color-brand-primary-hover',
        description: 'Used for slight hover highlights, like on outline buttons or checkbox inputs',
    },
    {
        token: '--color-brand-primary-contrast',
        description: 'Used for text and icons on top of the primary brand color.',
    },
    {
        token: '--color-brand-secondary-emphasis',
        description:
            'Background: Use to highlight the most important item of a view or an interface.',
    },
    {
        token: '--color-brand-secondary-base',
        description: 'Secondary brand color. Used for accents and highlights.',
    },
    {
        token: '--color-brand-secondary-surface',
        description:
            'Subtle version of the secondary brand color. Used for backgrounds and borders.',
    },

    {
        token: '--color-brand-secondary-hover',
        description: 'Used for slight hover highlights, like on outline buttons or checkbox inputs',
    },
    {
        token: '--color-brand-secondary-contrast',
        description: 'Used for text and icons on top of the secondary brand color.',
    },

    // text
    {
        token: '--color-text-default',
        description:
            'Primary color for text and icons in any given interface. It should be used for body content, titles and labels.',
    },
    {
        token: '--color-text-muted',
        description:
            'Use for content that is secondary or that provides additional context but is not critical to understanding the flow of an interface.',
    },
    {
        token: '--color-text-subtle',
        description: 'Use for placeholder text, icons or decorative foregrounds.',
    },
    {
        token: '--color-text-on-emphasis',
        description:
            'Use for text on top of emphasized backgrounds, such as banners, badges, and alerts.',
    },

    // bg
    {
        token: '--color-surface-default',
        description: 'Primary color for backgrounds in any given interface.',
    },
    {
        token: '--color-surface-subtle',
        description: 'Provides visual rest and contrast against the default background.',
    },
    {
        token: '--color-surface-inset',
        description:
            'Can be used instead of the default background to create a focal point, such as in conversations or activity feeds.',
    },
    {
        token: '--color-surface-emphasis',
        description:
            'Use for backgrounds that need to stand out, such as banners, badges, and alerts.',
    },

    // border
    {
        token: '--color-border-default',
        description:
            'Primary color for borders in aUse to create bounds around content, for example elements inside a card. Default borders are critical to understanding a page layout.',
    },
    {
        token: '--color-border-muted',
        description:
            'Use for dividers to emphasize the separation between items, columns or sections.',
    },

    // status
    {
        token: '--color-status-info-base',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-info-text',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-info-surface',
        description: 'Subtle version of the info status color. Used for backgrounds and borders.',
    },

    {
        token: '--color-status-info-hover',
        description: 'Used for slight hover highlights, like on outline buttons or checkbox inputs',
    },

    {
        token: '--color-status-warning-base',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-warning-text',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-warning-surface',
        description:
            'Subtle version of the warning status color. Used for backgrounds and borders.',
    },

    {
        token: '--color-status-warning-hover',
        description: 'Used for slight hover highlights, like on outline buttons or checkbox inputs',
    },

    {
        token: '--color-status-danger-base',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-danger-text',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-danger-surface',
        description: 'Subtle version of the danger status color. Used for backgrounds and borders.',
    },

    {
        token: '--color-status-danger-hover',
        description: 'Used for slight hover highlights, like on outline buttons or checkbox inputs',
    },

    {
        token: '--color-status-success-base',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-success-text',
        description: 'Secondary status color. Used for accents and highlights.',
    },
    {
        token: '--color-status-success-surface',
        description:
            'Subtle version of the success status color. Used for backgrounds and borders.',
    },
    {
        token: '--color-status-success-hover',
        description: 'Used for slight hover highlights, like on outline buttons or checkbox inputs',
    },
];
---

<div class="nc-stack -far">
    <div class="nc-flow">
        <ColorsExplanation />
    </div>
    <div class="nc-stack -near">
        {colors.map(color => <ColorPreview color={color.token} description={color.description} />)}
    </div>
    <div class="nc-flow"></div>
    <div class="nc-cluster">
        <div class="box" style="padding: 2em; background: var(--color-brand-primary-surface)">
            <p style="color: var(--color-brand-primary-base)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-secondary-surface)">
            <p style="color: var(--color-brand-secondary-base)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-primary-base)">
            <p style="color: var(--color-brand-primary-surface)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-secondary-base)">
            <p style="color: var(--color-brand-secondary-surface)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-primary-emphasis)">
            <p style="color: var(--color-brand-primary-surface)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-secondary-emphasis)">
            <p style="color: var(--color-brand-secondary-surface)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-primary-base)">
            <p style="color: var(--color-brand-primary-contrast)">Hallo</p>
        </div>
        <div class="box" style="padding: 2em; background: var(--color-brand-secondary-base)">
            <p style="color: var(--color-brand-secondary-contrast)">Hallo</p>
        </div>
    </div>
    <div class="nc-cluster -near">
        <button class="nc-button">Default / Basic</button>
        <button class="nc-button -primary">Primary</button>
        <button class="nc-button -secondary">Secondary</button>
        <button class="nc-button -outline -basic">Outline Basic</button>
        <button class="nc-button -outline -primary">Outline Primary</button>
        <button class="nc-button -outline -secondary">Outline Secondary</button>
        <button class="nc-button -stealth">Stealth Basic</button>
        <button class="nc-button -stealth -primary">Stealth Primary</button>
        <button class="nc-button -stealth -secondary">Stealth Secondary</button>
        <button class="nc-button -destructive">Destructive button</button>
    </div>
    <div class="nc-cluster -near">
        <div class="badge">Standard</div>
        <div class="badge -secondary">Secondary</div>
        <div class="badge -emphasis">Emphasis</div>
        <div class="badge -info">Info</div>
        <div class="badge -warning">Warning</div>
        <div class="badge -danger">Danger</div>
        <div class="badge -success">Success</div>
    </div>
</div>
