---
interface Props {
    color: string;
    description: string;
}

const { color, description } = Astro.props;
const colorLight = color.split('-').slice(0, -1).join('-') + '-light-' + color.split('-').slice(-1);
const colorDark = color.split('-').slice(0, -1).join('-') + '-dark-' + color.split('-').slice(-1);
---

<div class="preview-row">
    <span class="label">{color}</span>
    <div class="color-bg" style={`background-color: var(${colorLight})`}></div>
    <div class="color-bg" style={`background-color: var(${colorDark})`}></div>
    <div class="color-fg">
        {description}
    </div>
</div>

<style>
    .label {
        font-size: 0.75rem;
        color: var(--color-brand-primary-base);
    }

    .color-bg {
        inline-size: 3rem;
        block-size: 3rem;
        min-inline-size: 3rem;
        display: block;
        border: 1px solid #eee;
    }

    .color-fg {
        color: var(--color-text-default);
        font-size: var(--font-size-small);
    }
</style>
