---
import ColorPreview from './ColorPreview.astro';
import { Content as ColorsExplanation } from '../../../../docs/colors.md';
import PresetPreview from '../../presets/components/PresetPreview.astro';
import ContrastChecker from './ContrastChecker.svelte';
import PrimaryColors from './PrimaryColors.svelte';
import SecondaryColors from './SecondaryColors.svelte';
import TextColors from './TextColors.svelte';
import SurfaceColors from './SurfaceColors.svelte';
import BorderColors from './BorderColors.svelte';
import StatusColors from './StatusColors.svelte';
---

<div class="nc-stack -far">
    <div class="nc-flow">
        <ColorsExplanation />
    </div>

    <PrimaryColors client:only="svelte" />
    <SecondaryColors client:only="svelte" />
    <TextColors client:only="svelte" />
    <SurfaceColors client:only="svelte" />
    <BorderColors client:only="svelte" />
    <StatusColors client:only="svelte" />
    <ContrastChecker client:only="svelte" />

    <hr />
    <PresetPreview />
    <hr />

    <hr />
    <div class="nc-cluster -near">
        <button class="nc-button">Default / Basic</button>
        <button class="nc-button -primary">Primary</button>
        <button class="nc-button -secondary">Secondary</button>
        <button class="nc-button -outline -basic">Outline Basic</button>
        <button class="nc-button -outline -primary">Outline Primary</button>
        <button class="nc-button -outline -secondary">Outline Secondary</button>
        <button class="nc-button -stealth">Stealth Basic</button>
        <button class="nc-button -stealth -primary">Stealth Primary</button>
        <button class="nc-button -stealth -secondary">Stealth Secondary</button>
        <button class="nc-button -destructive">Destructive button</button>
        <button class="nc-button -offset">Offset Button</button>
    </div>
    <hr />
    <div class="nc-cluster -near">
        <div class="badge">Standard</div>
        <div class="badge -muted">Muted</div>
        <div class="badge -primary">Primary</div>
        <div class="badge -secondary">Secondary</div>
        <div class="badge -emphasis">Emphasis</div>
        <div class="badge -info">Info</div>
        <div class="badge -warning">Warning</div>
        <div class="badge -danger">Danger</div>
        <div class="badge -success">Success</div>
    </div>
</div>
