@layer base {
    :where(ol, ul) {
        display: flex;
        flex-direction: column;
        max-inline-size: max-content;
    }

    :where(ol, ul) {
        gap: var(--spacing-near);
        padding-inline-start: 1em;
    }

    :where(li) {
        max-inline-size: var(--measure-small);
    }

    :where(dt) {
        font-weight: var(--font-weight-active);
        color: var(--color-text-default);
        padding-block-end: var(--spacing-nearest);
        flex: 1 0 100%;

        &:not(:first-of-type) {
            padding-block-start: var(--spacing-base);
        }
    }

    :where(dd) {
        font-weight: var(--font-weight-default);
        color: var(--color-text-default);
        flex: 1 0 100%;

        &:not(:last-of-type) {
            padding-block-end: var(--spacing-base);
            border-bottom: var(--border-width-thin) solid var(--color-border-muted);
        }
    }

    :where(dl:not([class]), .nc-description-list) {
        display: flex;
        inline-size: 100%;
        max-inline-size: 100%;
        min-width: min-content;
        flex-wrap: wrap;
        align-items: flex-start;
        word-break: break-word;
        container: description-list / inline-size;
    }

    @container description-list (min-width: 30rem) {
        :where(dt, dd) {
            padding-block-start: var(--spacing-base);

            &:first-of-type {
                padding-block-start: 0;
            }
        }

        :where(dt) {
            flex: 0 1 25%;
            padding-inline-end: var(--spacing-base);
            padding-block-end: 0;

            &:not(:last-of-type) {
                padding-block-end: var(--spacing-base);
                border-bottom: var(--border-width-thin) solid var(--color-border-muted);
            }
        }

        :where(dd) {
            flex: 1 1 51%;
        }
    }

    :where(li > ul, li > ol) {
        margin-block-start: var(--spacing-base);
        margin-inline-start: var(--spacing-base);
    }

    li:has(ul) + li,
    li:has(ol) + li {
        margin-block-start: var(--spacing-near);
    }

    :where(small) {
        font-size: var(--font-size-small);
    }

    :where(figcaption) {
        display: block;
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-default);
        color: var(--color-surface-subtle);
        background-color: var(--color-text-default);
        padding: 0 var(--spacing-near);
    }

    :where(details) {
        inline-size: 100%;
        background-color: var(--color-surface-inset);
        padding: var(--spacing-base);
        border-radius: var(--border-radius-medium);
        border: var(--border-width-thin) solid var(--color-border-default);

        & > *:not(summary):first-of-type {
            margin-block-start: var(--spacing-base);
        }

        & > summary {
            cursor: pointer;
            color: var(--color-text-default);
            inline-size: 100%;
        }
    }

    .note,
    blockquote {
        padding: var(--spacing-base);
        inline-size: 100%;
        background-color: var(--color-surface-default);
        color: var(--color-text-default);
        position: relative;
        border: var(--border-width-thin) solid var(--color-border-default);
        border-radius: var(--border-radius-medium);
        margin-inline: 0;

        &.-info:before {
            content: '?';
        }

        &.-warning:before {
            content: '!';
        }
    }

    .note.-info:before,
    .note.-warning:before,
    blockquote:before {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        background-color: var(--color-surface-emphasis);
        color: var(--color-text-on-emphasis);
        inline-size: 1em;
        block-size: 1em;
        line-height: 1;
        font-size: var(--font-size-large);
        position: absolute;
        box-shadow: var(--shadow-near);
        inset-inline-start: 0;
        inset-block-start: 0;
    }

    blockquote:before {
        content: '»';
    }

    cite {
        font-family: var(--font-family-serif);
        font-style: normal;
    }

    :where(hr) {
        inline-size: 100%;
        block-size: 0;
        border-top: var(--border-width-medium) solid var(--color-border-default);
    }

    :where(h1, h2, h3, h4, h5, h6) {
        line-height: var(--line-height-small);
        color: var(--color-text-default);
        overflow-wrap: break-word;
        max-inline-size: 100%;
        hyphens: auto;
        text-wrap: balance;

        & > span {
            overflow-wrap: break-word;
            max-inline-size: 100%;
            hyphens: auto;
        }
    }

    :where(h1) {
        font-size: var(--font-size-largest);
        font-weight: var(--font-weight-heading);
    }

    :where(h2) {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-heading);
    }

    :where(h3) {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-heading);
    }

    :where(h4) {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-default);
    }

    :where(h5) {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-default);
    }

    :where(h6) {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-heading);
    }

    ::marker {
        color: var(--color-brand-primary-base);
    }

    ::selection,
    mark {
        background-color: var(--color-brand-primary-base);
        color: var(--color-surface-default);
    }

    :where(a, .link) {
        color: inherit;
        font-family: var(--font-family-link);
        text-decoration: underline;
        text-underline-offset: 0.25lh;
        text-decoration-thickness: from-font;
        font-weight: var(--font-weight-default);
        text-decoration-color: currentColor;
        cursor: pointer;
        letter-spacing: var(--tracking-tight);

        &:visited {
            opacity: 0.72;
        }

        &:hover {
            text-decoration-color: var(--color-brand-primary-base);
        }
    }

    :where(strong, b) {
        font-weight: var(--font-weight-strong);
    }

    :where(dfn, var) {
        font-family: var(--font-family-mono);
        letter-spacing: var(--tracking-tight);
        font-weight: var(--font-weight-default);
    }

    :where([aria-disabled='true'], .disabled, :disabled) {
        color: inherit;
        opacity: 1;
        cursor: not-allowed;
        filter: contrast(0.64) opacity(0.64);
    }

    :where(code) {
        font-family: var(--font-family-mono);
        letter-spacing: var(--tracking-tight);
        font-weight: var(--font-weight-default);
    }

    :where(pre) {
        padding: var(--spacing-base);
        inline-size: 100%;
        overflow-x: auto;
        color: var(--color-text-default);
        border: var(--border-width-medium) solid var(--color-border-default);
        border-radius: var(--border-radius-medium);
    }

    :where(table) {
        inline-size: 100%;
        border-collapse: separate;
        border-spacing: 0;
        text-align: left;
        border: var(--border-width-medium) solid var(--color-border-default);
        border-radius: var(--border-radius-medium);
    }

    :where(table > thead th:first-child) {
        border-start-start-radius: var(--border-radius-medium);
    }

    :where(table > thead th:last-child) {
        border-start-end-radius: var(--border-radius-medium);
    }

    :where(table > tfoot th:first-child) {
        border-end-start-radius: var(--border-radius-medium);
    }

    :where(table > tfoot th:last-child) {
        border-end-end-radius: var(--border-radius-medium);
    }

    :where(td, th) {
        padding: var(--spacing-near);
        line-height: var(--line-height-small);
        white-space: nowrap;
        font-variant-numeric: tabular-nums;
    }

    :where(td) {
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(thead th) {
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(tfoot th) {
        border-block-start: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(th) {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-active);
        background-color: oklch(var(--color-surface-emphasis-lch) / 0.04);
    }

    :where(tbody tr:hover) {
        background: var(--color-brand-primary-hover);
    }

    :where(caption) {
        color: var(--color-text-default);
    }

    :where(tr:has(td) th) {
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
        border-inline-end: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(tr:last-child:has(td) th) {
        border-block-end: none;
    }

    :where(tr:last-child > td) {
        border: none;
    }

    :where(tbody tr:nth-child(even) > td) {
        background-color: oklch(var(--color-surface-emphasis-lch) / 0.02);
    }
}
