@layer base {
    :where(ol, ul) {
    }

    :where(dt) {
        font-weight: var(--font-weight-active);
        color: var(--color-text-default);
    }

    :where(dd) {
        font-weight: var(--font-weight-default);
        color: var(--color-text-default);

        &:not(:last-of-type) {
            padding-block-end: 0.5lh;
            border-bottom: var(--border-width-thin) solid var(--color-border-muted);
        }
    }

    :where(dl:not([class]), .nc-description-list) {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        inline-size: 100%;
        max-inline-size: 100%;
        align-items: flex-start;
        word-break: break-word;
        container: description-list / inline-size;
        row-gap: 0.5lh;
    }

    :where(dd, dt) {
        grid-column: 1 / span 2;
        max-inline-size: var(--measure-base);
    }

    @container description-list (min-width: 30rem) {
        :where(dt) {
            grid-column: 1 / 1;
            padding-inline-end: 2ch;
            padding-block-end: 0;
            min-block-size: 100%;

            &:not(:last-of-type) {
                padding-block-end: 0.5lh;
                border-bottom: var(--border-width-thin) solid var(--color-border-muted);
            }
        }

        :where(dd) {
            grid-column: 2 / 2;
            min-block-size: 100%;
        }
    }

    :where(small) {
        font-size: var(--font-size-small);
    }

    :where(figcaption) {
        display: block;
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-default);
        color: var(--color-surface-subtle);
        background-color: var(--color-text-default);
        padding: 0 1ch;
    }

    :where(details) {
        inline-size: 100%;
        background-color: var(--color-surface-inset);
        padding: 0.75lh 2ch;
        border-radius: var(--border-radius-medium);
        border: var(--border-width-thin) solid var(--color-border-default);

        & > *:not(summary):first-of-type {
            margin-block-start: var(--spacing-base);
        }

        & > summary {
            cursor: pointer;
            color: var(--color-text-default);
            inline-size: 100%;
            font-weight: var(--font-weight-strong);
        }
    }

    .note,
    blockquote {
        padding: 0.5lh 2ch;
        inline-size: 100%;
        color: var(--color-text-default);
        position: relative;
        border-radius: var(--border-radius-medium);
        margin-inline: 0;
        font-family: var(--font-family-serif);

        & cite {
            display: block;
            margin-block-start: var(--spacing-near);
            max-inline-size: max-content;
        }

        & cite:before {
            content: '—';
            margin-inline-end: 0.5ch;
            color: var(--color-text-subtle);
        }
    }

    cite {
        font-family: var(--font-family-serif);
        font-size: var(--font-size-small);
        font-style: normal;
    }

    :where(hr) {
        inline-size: 100%;
        block-size: 0;
        border-top: var(--border-width-medium) solid var(--color-border-default);
    }

    :where(h1, h2, h3, h4, h5, h6) {
        line-height: var(--line-height-small);
        color: var(--color-text-default);
        overflow-wrap: break-word;
        max-inline-size: 100%;
        hyphens: auto;

        & > span {
            overflow-wrap: break-word;
            max-inline-size: 100%;
            hyphens: auto;
        }
    }

    :where(h1) {
        font-size: var(--font-size-largest);
        font-weight: var(--font-weight-heading);
    }

    :where(h2) {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-heading);
    }

    :where(h3) {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-heading);
    }

    :where(h4) {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-default);
    }

    :where(h5) {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-default);
    }

    :where(h6) {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-heading);
    }

    ::marker {
        color: var(--color-brand-primary-base);
    }

    ::selection,
    mark {
        background-color: var(--color-brand-primary-base);
        color: var(--color-surface-default);
    }

    :where(a, .link) {
        color: inherit;
        font-family: var(--font-family-link);
        text-decoration: underline;
        text-underline-offset: 0.25lh;
        text-decoration-thickness: from-font;
        font-weight: var(--font-weight-default);
        text-decoration-color: currentColor;
        cursor: pointer;
        letter-spacing: var(--tracking-tight);

        &:visited {
            opacity: 0.72;
        }

        &:hover {
            text-decoration-color: var(--color-brand-primary-base);
        }
    }

    :where(em, i) {
        font-family: var(--font-family-serif);
    }

    :where(strong, b) {
        font-weight: var(--font-weight-strong);
    }

    :where(dfn, var) {
        font-family: var(--font-family-mono);
        letter-spacing: var(--tracking-tight);
        font-weight: var(--font-weight-default);
    }

    :where([aria-disabled='true'], .disabled, :disabled) {
        color: inherit;
        opacity: 1;
        cursor: not-allowed;
        filter: contrast(0.64) opacity(0.64);
    }

    :where(code, kbd, var) {
        font-family: var(--font-family-mono);
        letter-spacing: 0;
        font-weight: var(--font-weight-default);
        padding-inline: 0.25ch;
        padding-block: 0.125lh;
        max-inline-size: fit-content;
        border-radius: var(--border-radius-small);
        line-height: inherit;
        hyphens: none;
        tab-size: 4;
        text-align: left;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

    :where(code) {
        background: var(--color-surface-inset);
    }

    :where(pre) {
        padding: 0.5lh 2ch;
        inline-size: 100%;
        overflow-x: auto;
        color: var(--color-text-default);
        border: var(--border-width-medium) solid var(--color-border-default);
        border-radius: var(--border-radius-medium);
        background: var(--color-surface-inset);
        -webkit-overflow-scrolling: touch;

        & code {
            white-space: pre;
            border-radius: 0;
            padding: 0;
            background: none;
        }
    }

    :where(table) {
        inline-size: 100%;
        border-collapse: separate;
        border-spacing: 0;
        text-align: left;
        border: var(--border-width-medium) solid var(--color-border-default);
        border-radius: var(--border-radius-medium);
    }

    :where(table > thead th:first-child) {
        border-start-start-radius: var(--border-radius-medium);
    }

    :where(table > thead th:last-child) {
        border-start-end-radius: var(--border-radius-medium);
    }

    :where(table > tfoot th:first-child) {
        border-end-start-radius: var(--border-radius-medium);
    }

    :where(table > tfoot th:last-child) {
        border-end-end-radius: var(--border-radius-medium);
    }

    :where(td, th) {
        padding: 0.25lh 1ch;
        line-height: var(--line-height-small);
        white-space: nowrap;
        font-variant-numeric: tabular-nums;
    }

    :where(td) {
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(thead th) {
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(tfoot th) {
        border-block-start: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(th) {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-active);
        background-color: oklch(var(--color-surface-emphasis-lch) / 0.04);
    }

    :where(tbody tr:hover) {
        background: var(--color-brand-primary-hover);
    }

    :where(caption) {
        color: var(--color-text-default);
    }

    :where(tr:has(td) th) {
        border-block-end: var(--border-width-thin) solid var(--color-border-muted);
        border-inline-end: var(--border-width-thin) solid var(--color-border-muted);
    }

    :where(tr:last-child:has(td) th) {
        border-block-end: none;
    }

    :where(tr:last-child > td) {
        border: none;
    }

    :where(tbody tr:nth-child(even) > td) {
        background-color: oklch(var(--color-surface-emphasis-lch) / 0.02);
    }

    :target {
        scroll-margin-block-start: 2ex;
    }

    :where(del) {
        color: var(--color-text-muted);
        text-decoration-color: var(--color-brand-primary-base);
    }

    :where(ul, ol) {
        padding-inline-start: 2ch;
    }

    :where(li + li) {
        margin-top: 0.5lh;
    }

    :where(li > :is(ul, ol)) {
        margin-top: 0.5lh;
    }
}
