@layer reset {
    *,
    :after,
    :before {
        box-sizing: border-box;
        accent-color: var(--color-brand-primary-base);
        font-kerning: normal;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    :where(:not(dialog)) {
        margin: 0;
    }

    :where(:not(fieldset, progress, meter)) {
        border-width: 0;
        border-style: solid;
        background-origin: border-box;
        background-repeat: no-repeat;
    }

    @media (--motionOK) {
        :where(:focus-visible) {
            transition: outline-offset 145ms var(--ease-2);
        }

        :where(:not(:active):focus-visible) {
            transition-duration: 0.25s;
        }
    }

    :where(:focus-visible, :focus) {
        outline: var(--border-width-medium) solid var(--color-brand-primary-base);
        outline-offset: 1ch;
    }

    :where(:focus:not(:focus-visible)) {
        outline: none;
    }

    :where(html) {
        inline-size: 100%;
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        text-rendering: optimizeSpeed;
        min-block-size: 100vh;
        block-size: 100%;
    }

    :where(body) {
        font-weight: var(--font-weight-default);
        color: var(--color-text-base);
        background-color: var(--color-surface-base);
        font-family: var(--font-family-default);
        line-height: var(--line-height-base);
        font-style: normal;
    }

    /* Remove default margin in favour of better control in authored CSS */
    :where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
        margin: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    :where(ul[role='list'], ol[role='list']) {
        list-style: none;
    }

    /* Balance text wrapping on headings */
    :where(h1, h2, h3, h4) {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    :where(a:not([class])) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    :where(img, svg, video, canvas, audio, iframe, embed, object) {
        display: block;
    }

    :where(img, svg, video) {
        max-inline-size: 100%;
        block-size: auto;
    }

    :where(figure) {
        display: grid;
        gap: 0;
        place-items: center;
    }

    :where(
            a[href],
            area,
            button,
            input,
            label[for],
            select,
            summary,
            textarea,
            [tabindex]:not([tabindex*='-'])
        ) {
        cursor: pointer;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
    }

    :where(input, button, textarea, select),
    :where(input[type='file'])::-webkit-file-upload-button {
        font: inherit;
        color: inherit;
        letter-spacing: inherit;
    }

    :where(label:not(class) + input, label:not(class) + select, label:not(class) + textarea) {
        display: block;
    }

    :where(p, summary) {
        max-inline-size: var(--measure-base);
        font-size: inherit;
        line-height: var(--line-height-base);
        margin: 0;
    }

    :where(p) {
        text-wrap: pretty;
    }
}
