@layer utils {
  .allcaps {
    text-transform: capitalize;
  }

  .bold {
    font-weight: var(--font-weight-strong)
  }

  .font-mono {
    font-family: var(--font-family-mono);
  }

  .font-sans {
    font-family: var(--font-family-sans);
  }

  .font-serif {
    font-family: var(--font-family-serif);
  }

  .nc-hint {
    color: var(--color-text-muted);
    font-size: var(--font-size-small);
    line-height: var(--line-height-base);
  }
}
