@font-face {
  font-family: 'DMMono';
  src: url('/assets/fonts/DMMono-Regular.woff2') format("woff2"), url('/assets/fonts/DMMono-Regular.woff') format("woff");
  font-display: optional;
  font-weight: 400;
}
