@layer base.inputs {
    :where(label, .nc-input-label) {
        font-family: var(--font-family-default);
        letter-spacing: var(--tracking-tight);
        font-weight: var(--font-weight-active);
        color: var(--color-text-base);
        display: inline-flex;
        font-size: inherit;
        gap: 0;
        align-items: center;
    }

    :where(input, textarea, select, .nc-input, .nc-select, .nc-textarea, .nc-input-checkbox, .nc-input-radio, .nc-input-label, .nc-input-color, .nc-input-field, .nc-input-error, .nc-checkbox-wrapper, .nc-input-switch, .nc-radio-field, .nc-checkbox-field) {
        --_input-background: var(--input-background, var(--color-surface-subtle));
        --_input-background-active: var(--input-background-active, var(--color-surface-base));
        --_input-color: var(--input-color, var(--color-text-base));
        --_input-border: var(
            --input-border,
            var(--border-width-thin) solid var(--color-border-base)
        );
        --_input-border-radius: var(--input-border-radius, var(--border-radius-medium));

        --_input-box-shadow: var(--input-box-shadow, var(--shadow-inset));
        --_input-outline: var(
            --input-outline,
            var(--border-width-medium) solid var(--color-brand-primary-base)
        );
        --_input-disabled-filter: var(--input-disabled-filter, contrast(0.72) opacity(0.72));

        --_input-padding-block: var(--input-padding-block, var(--control-spacing-tiny, 0.25em));
        --_input-padding-inline: var(--input-padding-inline, var(--control-spacing-base, 0.75em));
        --_input-hover-background: var(--input-hover-background, var(--color-brand-primary-hover));
    }

    :where(input, textarea, select, .nc-input) {
        font: inherit;
        letter-spacing: inherit;
        word-spacing: inherit;
        appearance: none;

        color: var(--_input-color);
        background-color: var(--_input-background);
        border: var(--_input-border);
        border-radius: var(--_input-border-radius);
        block-size: var(--control-height-base);
        padding-inline: var(--_input-padding-inline);
        box-shadow: var(--_input-box-shadow);
        inline-size: var(--input-inline-size, auto);
        line-height: var(--line-height-base);

        &:focus,
        &:hover:focus {
            --current-background: var(--_input-background-active);
            outline: var(--_input-outline);
            outline-offset: 0;
            background-color: var(--_input-background-active);
        }

        &:disabled {
            filter: var(--_input-disabled-filter);
            cursor: not-allowed;
        }

        &:hover {
            --current-background: var(--_input-hover-background);
            background-color: var(--_input-hover-background);
        }

        &[required] {
            border-inline-start-width: var(--border-width-thick);
        }

        &::placeholder {
            color: var(--color-text-subtle);
        }

        &.-validate:user-valid {
            outline: var(--_input-outline);
            outline-offset: 0;
            outline-color: var(--color-status-success-base);
        }

        &.-validate:user-invalid {
            outline: var(--_input-outline);
            outline-offset: 0;
            outline-color: var(--color-status-danger-base);
        }
    }

    :where(select, .nc-select) {
        padding-inline-end: 1.75em;
        background-image: var(--triangle-down-url);
        background-position: right 0.5em top 50%;
        background-size: 1em 0.75em;
    }

    :where(textarea, .nc-textarea) {
        min-block-size: calc(8lh + 2 * var(--_input-padding-block));
        max-block-size: 80svh;
        min-inline-size: var(--input-inline-size, 100%);
        max-inline-size: 100%;
        padding-block: var(--_input-padding-block);

        resize: block;
        field-sizing: content;
    }

    :where(input[type="checkbox"], input[type="radio"], .nc-input-checkbox, .nc-input-radio, .nc-input-switch) {
        inline-size: 1lh;
        block-size: 1lh;
        padding: 0;
        appearance: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: var(--_input-border);
        --current-background: var(--_input-background);
        background: var(--current-background);
        transition: var(--transition-duration-quick-1) background var(--ease-2);
        box-shadow: var(--_input-box-shadow);
    }

    :where(input[type="checkbox"], .nc-input-checkbox) {
        --_transition-duration: 0ms;
        overflow: hidden;
        border-radius: var(--_input-border-radius);

        &:before {
            content: "";
            display: inline-flex;
            align-items: center;
            justify-content: center;
            inline-size: 0.75lh;
            block-size: 0.75lh;
            background-color: var(--color-brand-primary-contrast);
            transform: scale(0.8) translateY(2em);
            transition: transform var(--ease-out-2) var(--transition-duration-quick-1);
            font-family: var(--font-family-sans);
            --font-weight: var(--font-weight-active);
            line-height: 1;
            color: var(--_input-background);
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked {
            --current-background: var(--color-brand-primary-base);

            &:before {
                transform: scale(1) translateY(0%);
            }
        }
    }

    :where(input[type="radio"], .nc-input-radio) {
        border-radius: var(--border-radius-round);
        overflow: hidden;

        &:before {
            content: "";
            display: inline-flex;
            block-size: 50%;
            inline-size: 50%;
            border-radius: var(--border-radius-round);
            transform: scale(0.8) translateY(2em);
            background-color: var(--color-brand-primary-contrast);
            transition: transform var(--ease-out-2) var(--transition-duration-quick-1);
        }

        &:checked {
            --current-background: var(--color-brand-primary-base);

            &:before {
                transform: scale(1) translateY(0%);
            }
        }
    }

    :where(input[type="color"], .nc-input-color) {
        aspect-ratio: 1;
        inline-size: auto;
        padding: var(--control-spacing-nearest, 0.125em);
    }

    :where(input[type="date"], .nc-input-date) {
        flex-flow: row nowrap;
    }

    :where(input[type="range"], .nc-input-range) {
        & > .nc-hint {
            margin-inline-start: auto;
        }

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            appearance: none;
            inline-size: calc(var(--control-height-base) * 0.625);
            block-size: calc(var(--control-height-base) * 0.625);
            border-radius: var(--_input-border-radius);
            border: var(--_input-border);
            border-color: var(--color-text-base);
            background-color: var(--color-text-base);
            box-shadow: var(--shadow-near);
            cursor: pointer;

            &:hover {
                background-color: var(--color-brand-primary-base);
                border-color: var(--color-brand-primary-base);
            }
        }
    }
}
