@layer components.input-fields {
    :where(.nc-input-field) {
        display: grid;
        gap: 0.25lh;
        grid-template-columns: minmax(0, 1fr);
        inline-size: 100%;
        min-inline-size: var(--input-field-min-inline-size);
        max-inline-size: var(--input-field-max-inline-size);
        place-items: start;

        &>label,
        &>.nc-stack {
            gap: 0.125lh;
            line-height: var(--line-height-small);
        }

        &>.nc-cluster {
            gap: 1ch;
        }
    }

    :where(.nc-input-error) {
        --color-base: var(--color-status-danger-emphasis);
        color: var(--color-base);
        font-size: var(--font-size-small);

        &:before {
            content: "!";
            font-family: var(--font-family-default);
            letter-spacing: var(--tracking-tight);
            font-weight: var(--font-weight-default);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-base);
            color: var(--color-surface-subtle);
            margin-inline-end: 1ch;
            inline-size: 1em;
            block-size: 1em;
            flex-shrink: 0;
        }
    }

    :where(.nc-checkbox-wrapper) {
        display: grid;
        grid-template:
            "checkbox label" 1fr
            / auto 1fr;
        place-items: start;
        gap: 0;

        &>[data-label] {
            grid-area: label;
            padding-inline-start: 1ch;
        }

        & .nc-input-label {
            min-block-size: var(--line-height-base);
        }

        &>[data-input] {
            grid-area: checkbox;
        }

        &:hover:not(:has(input:checked)) input {
            background: var(--_input-hover-background);
        }
    }

    :where(.nc-radio-field, .nc-checkbox-field) {
        gap: 0;

        >*:not(:first-child) {
            margin-block-start: 0.6lh;
        }
    }
