---
import ConfigLoader from '../modules/store/components/ConfigLoader.svelte';
import ConfigFromUrl from '../modules/store/components/ConfigFromUrl.svelte';
import NotificationCenter from '@nordcode/ui/src/modules/notifications/svelte/NotificationCenter.svelte';
import NotificationTemplate from '@nordcode/ui/src/modules/notifications/svelte/NotificationTemplate.svelte';
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="live-theme">
        <main>
            <header>
                <slot name="header" />
            </header>

            <aside>
                <slot name="aside" />
            </aside>
            <section>
                <ConfigLoader client:load="svelte" />
                <slot name="content" />
            </section>
        </main>
        <NotificationTemplate />
        <NotificationCenter />
        <ConfigFromUrl client:only="svelte" />
    </body>
</html>
<style is:global>
    @import '@nordcode/ui/media';
    @import '@nordcode/ui/bundle';
    @import '@nordcode/ui/fonts';
    @import '@nordcode/ui/components';
    @import '@nordcode/ui/base';
    @import './liveTheme.css';

    main {
        display: grid;
        grid-template:
            'header header' auto
            'config content' 1fr
            / auto 1fr;
        background: var(--color-surface-default);
        inline-size: 100%;
        min-block-size: 100vh;
        max-block-size: 100vh;
        overflow: hidden;
    }

    header {
        grid-area: header;
        background: var(--color-surface-default);
        padding-block: var(--spacing-near);
        padding-inline: var(--spacing-base);
        border-bottom: var(--border-width-thin) solid var(--color-border-default);
    }

    aside {
        grid-area: config;
        background: var(--color-surface-default);
        padding-block: var(--spacing-base);
        overflow-y: auto;
        border-inline-end: var(--border-width-thin) solid var(--color-border-default);
        max-inline-size: 25rem;

        &:has(*) {
            padding-inline: var(--spacing-base);
        }
    }

    section {
        grid-area: content;
        background: var(--color-surface-default);
        padding-block: var(--spacing-base);
        padding-inline: var(--spacing-base);
        overflow-y: auto;
    }
</style>

<script src="@nordcode/ui/src/modules/dialogs/ts/dialogs.ts"></script>
<script src="@nordcode/ui/src/modules/copyButtons/ts/copyButtons.ts"></script>
<script src="@nordcode/ui/src/modules/notifications/js/notifications.js"></script>
