---
import ConfigLoader from "../modules/store/components/ConfigLoader.svelte";
export interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<main>
    <header>
        <slot name="header"/>
    </header>

    <aside>
        <slot name="aside"/>
    </aside>
    <section>
        <ConfigLoader client:load="svelte">
            <slot name="content"/>
        </ConfigLoader>
    </section>
</main>
</body>
</html>
<style is:global>
    @import "@nordcode/ui/bundle";
    @import "@nordcode/ui/fonts";
    @import "@nordcode/ui/badges";
    @import "@nordcode/ui/inputs";
    @import "@nordcode/ui/buttons";
    @import "@nordcode/ui/dialogs";

    main {
        display: grid;
        grid-template:
            "header header" auto
            "config content" 1fr
            / 400px 1fr;
        background: var(--color-surface-strong);
        inline-size: 100%;
        min-block-size: 100vh;
        max-block-size: 100vh;
        overflow: hidden;
    }

    header {
        grid-area: header;
        background: var(--color-surface-base);
        padding-block: var(--spacing-near);
        padding-inline: var(--spacing-base);
        border-bottom: var(--border-width-thin) solid var(--color-border-base);
        box-shadow: var(--shadow-base);

    }

    aside {
        grid-area: config;
        background: var(--color-surface-base);
        padding-block: var(--spacing-base);
        padding-inline: var(--spacing-base);
        overflow-y: auto;
    }

    section {
        grid-area: content;
        background: var(--color-surface-base);
        padding-block: var(--spacing-base);
        padding-inline: var(--spacing-base);
        overflow-y: auto;
    }


</style>

<style is:global>
    .live-theme {
        color-scheme: light;

        --color-brand-primary-strong: var(--color-brand-primary-light-strong);
        --color-brand-primary-base: var(--color-brand-primary-light-base);
        --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);

        --color-brand-secondary-strong: var(--color-brand-secondary-light-strong);
        --color-brand-secondary-base: var(--color-brand-secondary-light-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);

        --color-text-strong: var(--color-text-light-strong);
        --color-text-base: var(--color-text-light-base);
        --color-text-subtle: var(--color-text-light-subtle);

        --color-surface-strong: var(--color-surface-light-strong);
        --color-surface-base: var(--color-surface-light-base);
        --color-surface-subtle: var(--color-surface-light-subtle);

        --color-border-strong: var(--color-border-light-strong);
        --color-border-base: var(--color-border-light-base);
        --color-border-subtle: var(--color-border-light-subtle);

        --color-shadow-subtle: var(--color-shadow-light-subtle);
        --color-shadow-base: var(--color-shadow-light-base);
        --color-shadow-strong: var(--color-shadow-light-strong);

        --shadow-inset: var(--shadow-inset-light);
        --shadow-nearest: var(--shadow-nearest-light);
        --shadow-near: var(--shadow-near-light);
        --shadow-base: var(--shadow-base-light);
        --shadow-far: var(--shadow-far-light);


        --triangle-down-url: var(--triangle-down-url-light);
        --triangle-up-url: var(--triangle-up-url-light);
    }

    @media (--OSdark) {
        .live-theme {
            color-scheme: dark;

            --color-brand-primary-strong: var(--color-brand-primary-dark-strong);
            --color-brand-primary-base: var(--color-brand-primary-dark-base);
            --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);

            --color-brand-secondary-strong: var(--color-brand-secondary-dark-strong);
            --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
            --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);

            --color-text-strong: var(--color-text-dark-strong);
            --color-text-base: var(--color-text-dark-base);
            --color-text-subtle: var(--color-text-dark-subtle);

            --color-surface-strong: var(--color-surface-dark-strong);
            --color-surface-base: var(--color-surface-dark-base);
            --color-surface-subtle: var(--color-surface-dark-subtle);

            --color-border-strong: var(--color-border-dark-strong);
            --color-border-base: var(--color-border-dark-base);
            --color-border-subtle: var(--color-border-dark-subtle);

            --color-shadow-subtle: var(--color-shadow-dark-subtle);
            --color-shadow-base: var(--color-shadow-dark-base);
            --color-shadow-strong: var(--color-shadow-dark-strong);

            --shadow-inset: var(--shadow-inset-dark);
            --shadow-nearest: var(--shadow-nearest-dark);
            --shadow-near: var(--shadow-near-dark);
            --shadow-base: var(--shadow-base-dark);
            --shadow-far: var(--shadow-far-dark);

            --triangle-down-url: var(--triangle-down-url-dark);
            --triangle-up-url: var(--triangle-up-url-dark);
        }
    }

    [color-scheme="light"] .live-theme {
        color-scheme: light;

        --color-brand-primary-strong: var(--color-brand-primary-light-strong);
        --color-brand-primary-base: var(--color-brand-primary-light-base);
        --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);

        --color-brand-secondary-strong: var(--color-brand-secondary-light-strong);
        --color-brand-secondary-base: var(--color-brand-secondary-light-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);

        --color-text-strong: var(--color-text-light-strong);
        --color-text-base: var(--color-text-light-base);
        --color-text-subtle: var(--color-text-light-subtle);

        --color-surface-strong: var(--color-surface-light-strong);
        --color-surface-base: var(--color-surface-light-base);
        --color-surface-subtle: var(--color-surface-light-subtle);

        --color-border-strong: var(--color-border-light-strong);
        --color-border-base: var(--color-border-light-base);
        --color-border-subtle: var(--color-border-light-subtle);

        --color-shadow-subtle: var(--color-shadow-light-subtle);
        --color-shadow-base: var(--color-shadow-light-base);
        --color-shadow-strong: var(--color-shadow-light-strong);

        --shadow-inset: var(--shadow-inset-light);
        --shadow-nearest: var(--shadow-nearest-light);
        --shadow-near: var(--shadow-near-light);
        --shadow-base: var(--shadow-base-light);
        --shadow-far: var(--shadow-far-light);

        --triangle-down-url: var(--triangle-down-url-light);
        --triangle-up-url: var(--triangle-up-url-light);
    }

    [color-scheme="dark"] .live-theme {
        color-scheme: dark;

        --color-brand-primary-strong: var(--color-brand-primary-dark-strong);
        --color-brand-primary-base: var(--color-brand-primary-dark-base);
        --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);

        --color-brand-secondary-strong: var(--color-brand-secondary-dark-strong);
        --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);

        --color-text-strong: var(--color-text-dark-strong);
        --color-text-base: var(--color-text-dark-base);
        --color-text-subtle: var(--color-text-dark-subtle);

        --color-surface-strong: var(--color-surface-dark-strong);
        --color-surface-base: var(--color-surface-dark-base);
        --color-surface-subtle: var(--color-surface-dark-subtle);

        --color-border-strong: var(--color-border-dark-strong);
        --color-border-base: var(--color-border-dark-base);
        --color-border-subtle: var(--color-border-dark-subtle);

        --color-shadow-subtle: var(--color-shadow-dark-subtle);
        --color-shadow-base: var(--color-shadow-dark-base);
        --color-shadow-strong: var(--color-shadow-dark-strong);

        --shadow-inset: var(--shadow-inset-dark);
        --shadow-nearest: var(--shadow-nearest-dark);
        --shadow-near: var(--shadow-near-dark);
        --shadow-base: var(--shadow-base-dark);
        --shadow-far: var(--shadow-far-dark);

        --triangle-down-url: var(--triangle-down-url-dark);
        --triangle-up-url: var(--triangle-up-url-dark);

    }
</style>

<script src="@nordcode/ui/src/modules/dialogs/ts/dialogs.ts"></script>
<script src="@nordcode/ui/src/modules/copyButtons/ts/copyButtons.ts"></script>
