.live-theme {
    color-scheme: light;

    --color-brand-primary-emphasis-lch: var(--color-brand-primary-light-emphasis-lch);
    --color-brand-primary-emphasis: var(--color-brand-primary-light-emphasis);
    --color-brand-primary-base-lch: var(--color-brand-primary-light-base-lch);
    --color-brand-primary-base: var(--color-brand-primary-light-base);
    --color-brand-primary-surface-lch: var(--color-brand-primary-light-surface-lch);
    --color-brand-primary-surface: var(--color-brand-primary-light-surface);
    --color-brand-primary-hover: var(--color-brand-primary-light-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-light-contrast);

    --color-brand-secondary-emphasis-lch: var(--color-brand-secondary-light-emphasis-lch);
    --color-brand-secondary-emphasis: var(--color-brand-secondary-light-emphasis);
    --color-brand-secondary-base-lch: var(--color-brand-secondary-light-base-lch);
    --color-brand-secondary-base: var(--color-brand-secondary-light-base);
    --color-brand-secondary-surface-lch: var(--color-brand-secondary-light-surface-lch);
    --color-brand-secondary-surface: var(--color-brand-secondary-light-surface);
    --color-brand-secondary-hover: var(--color-brand-secondary-light-hover);
    --color-brand-secondary-contrast: var(--color-brand-secondary-light-contrast);

    --color-text-default-lch: var(--color-text-light-default-lch);
    --color-text-default: var(--color-text-light-default);
    --color-text-muted-lch: var(--color-text-light-muted-lch);
    --color-text-muted: var(--color-text-light-muted);
    --color-text-subtle-lch: var(--color-text-light-subtle-lch);
    --color-text-subtle: var(--color-text-light-subtle);
    --color-text-on-emphasis-lch: var(--color-text-light-on-emphasis-lch);
    --color-text-on-emphasis: var(--color-text-light-on-emphasis);

    --color-surface-default-lch: var(--color-surface-light-default-lch);
    --color-surface-default: var(--color-surface-light-default);
    --color-surface-muted-lch: var(--color-surface-light-muted-lch);
    --color-surface-subtle: var(--color-surface-light-subtle);
    --color-surface-subtle-lch: var(--color-surface-light-subtle-lch);
    --color-surface-inset: var(--color-surface-light-inset);
    --color-surface-inset-lch: var(--color-surface-light-inset-lch);
    --color-surface-emphasis: var(--color-surface-light-emphasis);
    --color-surface-emphasis-lch: var(--color-surface-light-emphasis-lch);

    --color-border-default-lch: var(--color-border-light-default-lch);
    --color-border-default: var(--color-border-light-default);
    --color-border-muted-lch: var(--color-border-light-muted-lch);
    --color-border-muted: var(--color-border-light-muted);

    --color-status-info-base: var(--color-status-info-light-base);
    --color-status-info-text: var(--color-status-info-light-text);
    --color-status-info-surface: var(--color-status-info-light-surface);
    --color-status-info-hover: var(--color-status-info-light-hover);

    --color-status-warning-base: var(--color-status-warning-light-base);
    --color-status-warning-text: var(--color-status-warning-light-text);
    --color-status-warning-surface: var(--color-status-warning-light-surface);
    --color-status-warning-hover: var(--color-status-warning-light-hover);

    --color-status-danger-base: var(--color-status-danger-light-base);
    --color-status-danger-text: var(--color-status-danger-light-text);
    --color-status-danger-surface: var(--color-status-danger-light-surface);
    --color-status-danger-hover: var(--color-status-danger-light-hover);

    --color-status-success-base: var(--color-status-success-light-base);
    --color-status-success-text: var(--color-status-success-light-text);
    --color-status-success-surface: var(--color-status-success-light-surface);
    --color-status-success-hover: var(--color-status-success-light-hover);

    --shadow-color-lch: var(--shadow-color-light-lch);
    --shadow-color: var(--shadow-color-light);
    --shadow-inset: var(--shadow-inset-light);
    --shadow-nearest: var(--shadow-nearest-light);
    --shadow-near: var(--shadow-near-light);
    --shadow-medium: var(--shadow-medium-light);
    --shadow-far: var(--shadow-far-light);

    --triangle-down-url: var(--triangle-down-url-light);
    --triangle-up-url: var(--triangle-up-url-light);
}

@media (--OSdark) {
    .live-theme {
        color-scheme: dark;

        --color-brand-primary-emphasis-lch: var(--color-brand-primary-dark-emphasis-lch);
        --color-brand-primary-emphasis: var(--color-brand-primary-dark-emphasis);
        --color-brand-primary-base-lch: var(--color-brand-primary-dark-base-lch);
        --color-brand-primary-base: var(--color-brand-primary-dark-base);
        --color-brand-primary-surface-lch: var(--color-brand-primary-dark-surface-lch);
        --color-brand-primary-surface: var(--color-brand-primary-dark-surface);
        --color-brand-primary-hover: var(--color-brand-primary-dark-hover);
        --color-brand-primary-contrast: var(--color-brand-primary-dark-contrast);

        --color-brand-secondary-emphasis-lch: var(--color-brand-secondary-dark-emphasis-lch);
        --color-brand-secondary-emphasis: var(--color-brand-secondary-dark-emphasis);
        --color-brand-secondary-base-lch: var(--color-brand-secondary-dark-base-lch);
        --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
        --color-brand-secondary-surface-lch: var(--color-brand-secondary-dark-surface-lch);
        --color-brand-secondary-surface: var(--color-brand-secondary-dark-surface);
        --color-brand-secondary-hover: var(--color-brand-secondary-dark-hover);
        --color-brand-secondary-contrast: var(--color-brand-secondary-dark-contrast);

        --color-text-default-lch: var(--color-text-dark-default-lch);
        --color-text-default: var(--color-text-dark-default);
        --color-text-muted-lch: var(--color-text-dark-muted-lch);
        --color-text-muted: var(--color-text-dark-muted);
        --color-text-subtle-lch: var(--color-text-dark-subtle-lch);
        --color-text-subtle: var(--color-text-dark-subtle);
        --color-text-on-emphasis-lch: var(--color-text-dark-on-emphasis-lch);
        --color-text-on-emphasis: var(--color-text-dark-on-emphasis);

        --color-surface-default-lch: var(--color-surface-dark-default-lch);
        --color-surface-default: var(--color-surface-dark-default);
        --color-surface-muted-lch: var(--color-surface-dark-muted-lch);
        --color-surface-subtle: var(--color-surface-dark-subtle);
        --color-surface-subtle-lch: var(--color-surface-dark-subtle-lch);
        --color-surface-inset: var(--color-surface-dark-inset);
        --color-surface-inset-lch: var(--color-surface-dark-inset-lch);
        --color-surface-emphasis: var(--color-surface-dark-emphasis);
        --color-surface-emphasis-lch: var(--color-surface-dark-emphasis-lch);

        --color-border-default-lch: var(--color-border-dark-default-lch);
        --color-border-default: var(--color-border-dark-default);
        --color-border-muted-lch: var(--color-border-dark-muted-lch);
        --color-border-muted: var(--color-border-dark-muted);

        --color-status-info-base: var(--color-status-info-dark-base);
        --color-status-info-text: var(--color-status-info-dark-text);
        --color-status-info-surface: var(--color-status-info-dark-surface);
        --color-status-info-hover: var(--color-status-info-dark-hover);

        --color-status-warning-base: var(--color-status-warning-dark-base);
        --color-status-warning-text: var(--color-status-warning-dark-text);
        --color-status-warning-surface: var(--color-status-warning-dark-surface);
        --color-status-warning-hover: var(--color-status-warning-dark-hover);

        --color-status-danger-base: var(--color-status-danger-dark-base);
        --color-status-danger-text: var(--color-status-danger-dark-text);
        --color-status-danger-surface: var(--color-status-danger-dark-surface);
        --color-status-danger-hover: var(--color-status-danger-dark-hover);

        --color-status-success-base: var(--color-status-success-dark-base);
        --color-status-success-text: var(--color-status-success-dark-text);
        --color-status-success-surface: var(--color-status-success-dark-surface);
        --color-status-success-hover: var(--color-status-success-dark-hover);

        --shadow-color-lch: var(--shadow-color-dark-lch);
        --shadow-color: var(--shadow-color-dark);
        --shadow-inset: var(--shadow-inset-dark);
        --shadow-nearest: var(--shadow-nearest-dark);
        --shadow-near: var(--shadow-near-dark);
        --shadow-medium: var(--shadow-medium-dark);
        --shadow-far: var(--shadow-far-dark);

        --triangle-down-url: var(--triangle-down-url-dark);
        --triangle-up-url: var(--triangle-up-url-dark);
    }
}

[color-scheme='light'] .live-theme {
    color-scheme: light;

    --color-brand-primary-emphasis-lch: var(--color-brand-primary-light-emphasis-lch);
    --color-brand-primary-emphasis: var(--color-brand-primary-light-emphasis);
    --color-brand-primary-base-lch: var(--color-brand-primary-light-base-lch);
    --color-brand-primary-base: var(--color-brand-primary-light-base);
    --color-brand-primary-surface-lch: var(--color-brand-primary-light-surface-lch);
    --color-brand-primary-surface: var(--color-brand-primary-light-surface);
    --color-brand-primary-hover: var(--color-brand-primary-light-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-light-contrast);

    --color-brand-secondary-emphasis-lch: var(--color-brand-secondary-light-emphasis-lch);
    --color-brand-secondary-emphasis: var(--color-brand-secondary-light-emphasis);
    --color-brand-secondary-base-lch: var(--color-brand-secondary-light-base-lch);
    --color-brand-secondary-base: var(--color-brand-secondary-light-base);
    --color-brand-secondary-surface-lch: var(--color-brand-secondary-light-surface-lch);
    --color-brand-secondary-surface: var(--color-brand-secondary-light-surface);
    --color-brand-secondary-hover: var(--color-brand-secondary-light-hover);
    --color-brand-secondary-contrast: var(--color-brand-secondary-light-contrast);

    --color-text-default-lch: var(--color-text-light-default-lch);
    --color-text-default: var(--color-text-light-default);
    --color-text-muted-lch: var(--color-text-light-muted-lch);
    --color-text-muted: var(--color-text-light-muted);
    --color-text-subtle-lch: var(--color-text-light-subtle-lch);
    --color-text-subtle: var(--color-text-light-subtle);
    --color-text-on-emphasis-lch: var(--color-text-light-on-emphasis-lch);
    --color-text-on-emphasis: var(--color-text-light-on-emphasis);

    --color-surface-default-lch: var(--color-surface-light-default-lch);
    --color-surface-default: var(--color-surface-light-default);
    --color-surface-muted-lch: var(--color-surface-light-muted-lch);
    --color-surface-subtle: var(--color-surface-light-subtle);
    --color-surface-subtle-lch: var(--color-surface-light-subtle-lch);
    --color-surface-inset: var(--color-surface-light-inset);
    --color-surface-inset-lch: var(--color-surface-light-inset-lch);
    --color-surface-emphasis: var(--color-surface-light-emphasis);
    --color-surface-emphasis-lch: var(--color-surface-light-emphasis-lch);

    --color-border-default-lch: var(--color-border-light-default-lch);
    --color-border-default: var(--color-border-light-default);
    --color-border-muted-lch: var(--color-border-light-muted-lch);
    --color-border-muted: var(--color-border-light-muted);

    --color-status-info-base: var(--color-status-info-light-base);
    --color-status-info-text: var(--color-status-info-light-text);
    --color-status-info-surface: var(--color-status-info-light-surface);
    --color-status-info-hover: var(--color-status-info-light-hover);

    --color-status-warning-base: var(--color-status-warning-light-base);
    --color-status-warning-text: var(--color-status-warning-light-text);
    --color-status-warning-surface: var(--color-status-warning-light-surface);
    --color-status-warning-hover: var(--color-status-warning-light-hover);

    --color-status-danger-base: var(--color-status-danger-light-base);
    --color-status-danger-text: var(--color-status-danger-light-text);
    --color-status-danger-surface: var(--color-status-danger-light-surface);
    --color-status-danger-hover: var(--color-status-danger-light-hover);

    --color-status-success-base: var(--color-status-success-light-base);
    --color-status-success-text: var(--color-status-success-light-text);
    --color-status-success-surface: var(--color-status-success-light-surface);
    --color-status-success-hover: var(--color-status-success-light-hover);

    --shadow-color-lch: var(--shadow-color-light-lch);
    --shadow-color: var(--shadow-color-light);
    --shadow-inset: var(--shadow-inset-light);
    --shadow-nearest: var(--shadow-nearest-light);
    --shadow-near: var(--shadow-near-light);
    --shadow-medium: var(--shadow-medium-light);
    --shadow-far: var(--shadow-far-light);

    --triangle-down-url: var(--triangle-down-url-light);
    --triangle-up-url: var(--triangle-up-url-light);
}

[color-scheme='dark'] .live-theme {
    color-scheme: dark;

    --color-brand-primary-emphasis-lch: var(--color-brand-primary-dark-emphasis-lch);
    --color-brand-primary-emphasis: var(--color-brand-primary-dark-emphasis);
    --color-brand-primary-base-lch: var(--color-brand-primary-dark-base-lch);
    --color-brand-primary-base: var(--color-brand-primary-dark-base);
    --color-brand-primary-surface-lch: var(--color-brand-primary-dark-surface-lch);
    --color-brand-primary-surface: var(--color-brand-primary-dark-surface);
    --color-brand-primary-hover: var(--color-brand-primary-dark-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-dark-contrast);

    --color-brand-secondary-emphasis-lch: var(--color-brand-secondary-dark-emphasis-lch);
    --color-brand-secondary-emphasis: var(--color-brand-secondary-dark-emphasis);
    --color-brand-secondary-base-lch: var(--color-brand-secondary-dark-base-lch);
    --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
    --color-brand-secondary-surface-lch: var(--color-brand-secondary-dark-surface-lch);
    --color-brand-secondary-surface: var(--color-brand-secondary-dark-surface);
    --color-brand-secondary-hover: var(--color-brand-secondary-dark-hover);
    --color-brand-secondary-contrast: var(--color-brand-secondary-dark-contrast);

    --color-text-default-lch: var(--color-text-dark-default-lch);
    --color-text-default: var(--color-text-dark-default);
    --color-text-muted-lch: var(--color-text-dark-muted-lch);
    --color-text-muted: var(--color-text-dark-muted);
    --color-text-subtle-lch: var(--color-text-dark-subtle-lch);
    --color-text-subtle: var(--color-text-dark-subtle);
    --color-text-on-emphasis-lch: var(--color-text-dark-on-emphasis-lch);
    --color-text-on-emphasis: var(--color-text-dark-on-emphasis);

    --color-surface-default-lch: var(--color-surface-dark-default-lch);
    --color-surface-default: var(--color-surface-dark-default);
    --color-surface-muted-lch: var(--color-surface-dark-muted-lch);
    --color-surface-subtle: var(--color-surface-dark-subtle);
    --color-surface-subtle-lch: var(--color-surface-dark-subtle-lch);
    --color-surface-inset: var(--color-surface-dark-inset);
    --color-surface-inset-lch: var(--color-surface-dark-inset-lch);
    --color-surface-emphasis: var(--color-surface-dark-emphasis);
    --color-surface-emphasis-lch: var(--color-surface-dark-emphasis-lch);

    --color-border-default-lch: var(--color-border-dark-default-lch);
    --color-border-default: var(--color-border-dark-default);
    --color-border-muted-lch: var(--color-border-dark-muted-lch);
    --color-border-muted: var(--color-border-dark-muted);

    --color-status-info-base: var(--color-status-info-dark-base);
    --color-status-info-text: var(--color-status-info-dark-text);
    --color-status-info-surface: var(--color-status-info-dark-surface);
    --color-status-info-hover: var(--color-status-info-dark-hover);

    --color-status-warning-base: var(--color-status-warning-dark-base);
    --color-status-warning-text: var(--color-status-warning-dark-text);
    --color-status-warning-surface: var(--color-status-warning-dark-surface);
    --color-status-warning-hover: var(--color-status-warning-dark-hover);

    --color-status-danger-base: var(--color-status-danger-dark-base);
    --color-status-danger-text: var(--color-status-danger-dark-text);
    --color-status-danger-surface: var(--color-status-danger-dark-surface);
    --color-status-danger-hover: var(--color-status-danger-dark-hover);

    --color-status-success-base: var(--color-status-success-dark-base);
    --color-status-success-text: var(--color-status-success-dark-text);
    --color-status-success-surface: var(--color-status-success-dark-surface);
    --color-status-success-hover: var(--color-status-success-dark-hover);

    --shadow-color-lch: var(--shadow-color-dark-lch);
    --shadow-color: var(--shadow-color-dark);
    --shadow-inset: var(--shadow-inset-dark);
    --shadow-nearest: var(--shadow-nearest-dark);
    --shadow-near: var(--shadow-near-dark);
    --shadow-medium: var(--shadow-medium-dark);
    --shadow-far: var(--shadow-far-dark);

    --triangle-down-url: var(--triangle-down-url-dark);
    --triangle-up-url: var(--triangle-up-url-dark);
}
