.live-theme {
    color-scheme: light;

    --color-brand-primary-emphasis: var(--color-brand-primary-light-emphasis);
    --color-brand-primary-base: var(--color-brand-primary-light-base);
    --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);
    --color-brand-primary-hover: var(--color-brand-primary-light-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-light-contrast);

    --color-brand-secondary-emphasis: var(--color-brand-secondary-light-emphasis);
    --color-brand-secondary-base: var(--color-brand-secondary-light-base);
    --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);
    --color-brand-secondary-hover: var(--color-brand-secondary-light-hover);
    --color-brand-secondary-contrast: var(--color-brand-secondary-light-contrast);

    --color-text-default: var(--color-text-light-default);
    --color-text-muted: var(--color-text-light-muted);
    --color-text-subtle: var(--color-text-light-subtle);
    --color-text-on-emphasis: var(--color-text-light-on-emphasis);

    --color-surface-default: var(--color-surface-light-default);
    --color-surface-subtle: var(--color-surface-light-subtle);
    --color-surface-inset: var(--color-surface-light-inset);
    --color-surface-emphasis: var(--color-surface-light-emphasis);

    --color-border-default: var(--color-border-light-default);
    --color-border-muted: var(--color-border-light-muted);


    --color-status-info-base: var(--color-status-info-light-base);
    --color-status-info-text: var(--color-status-info-light-text);
    --color-status-info-subtle: var(--color-status-info-light-subtle);
    --color-status-info-hover: var(--color-status-info-light-hover);

    --color-status-warning-base: var(--color-status-warning-light-base);
    --color-status-warning-text: var(--color-status-warning-light-text);
    --color-status-warning-subtle: var(--color-status-warning-light-subtle);
    --color-status-warning-hover: var(--color-status-warning-light-hover);

    --color-status-danger-base: var(--color-status-danger-light-base);
    --color-status-danger-text: var(--color-status-danger-light-text);
    --color-status-danger-subtle: var(--color-status-danger-light-subtle);
    --color-status-danger-hover: var(--color-status-danger-light-hover);

    --color-status-success-base: var(--color-status-success-light-base);
    --color-status-success-text: var(--color-status-success-light-text);
    --color-status-success-subtle: var(--color-status-success-light-subtle);
    --color-status-success-hover: var(--color-status-success-light-hover);


    --shadow-color: var(--shadow-color-light);
    --shadow-inset: var(--shadow-inset-light);
    --shadow-nearest: var(--shadow-nearest-light);
    --shadow-near: var(--shadow-near-light);
    --shadow-medium: var(--shadow-medium-light);
    --shadow-far: var(--shadow-far-light);

    --triangle-down-url: var(--triangle-down-url-light);
    --triangle-up-url: var(--triangle-up-url-light);
}

@media (--OSdark) {
    .live-theme {
        color-scheme: dark;

        --color-brand-primary-emphasis: var(--color-brand-primary-dark-emphasis);
        --color-brand-primary-base: var(--color-brand-primary-dark-base);
        --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);
        --color-brand-primary-hover: var(--color-brand-primary-dark-hover);
        --color-brand-primary-contrast: var(--color-brand-primary-dark-contrast);

        --color-brand-secondary-emphasis: var(--color-brand-secondary-dark-emphasis);
        --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
        --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);
        --color-brand-secondary-hover: var(--color-brand-secondary-dark-hover);
        --color-brand-secondary-contrast: var(
                --color-brand-secondary-dark-contrast
        );

        --color-text-default: var(--color-text-dark-default);
        --color-text-muted: var(--color-text-dark-muted);
        --color-text-subtle: var(--color-text-dark-subtle);
        --color-text-on-emphasis: var(--color-text-dark-on-emphasis);

        --color-surface-default: var(--color-surface-dark-default);
        --color-surface-subtle: var(--color-surface-dark-subtle);
        --color-surface-inset: var(--color-surface-dark-inset);
        --color-surface-emphasis: var(--color-surface-dark-emphasis);


        --color-border-default: var(--color-border-dark-default);
        --color-border-muted: var(--color-border-dark-muted);

    --color-status-info-base: var(--color-status-info-dark-base);
    --color-status-info-text: var(--color-status-info-dark-text);
    --color-status-info-subtle: var(--color-status-info-dark-subtle);
    --color-status-info-hover: var(--color-status-info-dark-hover);

    --color-status-warning-base: var(--color-status-warning-dark-base);
    --color-status-warning-text: var(--color-status-warning-dark-text);
    --color-status-warning-subtle: var(--color-status-warning-dark-subtle);
    --color-status-warning-hover: var(--color-status-warning-dark-hover);

    --color-status-danger-base: var(--color-status-danger-dark-base);
    --color-status-danger-text: var(--color-status-danger-dark-text);
    --color-status-danger-subtle: var(--color-status-danger-dark-subtle);
    --color-status-danger-hover: var(--color-status-danger-dark-hover);

    --color-status-success-base: var(--color-status-success-dark-base);
    --color-status-success-text: var(--color-status-success-dark-text);
    --color-status-success-subtle: var(--color-status-success-dark-subtle);
    --color-status-success-hover: var(--color-status-success-dark-hover);


        --shadow-color: var(--shadow-color-dark);
        --shadow-inset: var(--shadow-inset-dark);
        --shadow-nearest: var(--shadow-nearest-dark);
        --shadow-near: var(--shadow-near-dark);
        --shadow-medium: var(--shadow-medium-dark);
        --shadow-far: var(--shadow-far-dark);

        --triangle-down-url: var(--triangle-down-url-dark);
        --triangle-up-url: var(--triangle-up-url-dark);
    }
}

[color-scheme="light"] .live-theme {
    color-scheme: light;

    --color-brand-primary-emphasis: var(--color-brand-primary-light-emphasis);
    --color-brand-primary-base: var(--color-brand-primary-light-base);
    --color-brand-primary-subtle: var(--color-brand-primary-light-subtle);
    --color-brand-primary-hover: var(--color-brand-primary-light-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-light-contrast);

    --color-brand-secondary-emphasis: var(--color-brand-secondary-light-emphasis);
    --color-brand-secondary-base: var(--color-brand-secondary-light-base);
    --color-brand-secondary-subtle: var(--color-brand-secondary-light-subtle);
    --color-brand-secondary-hover: var(--color-brand-secondary-light-hover);
    --color-brand-secondary-contrast: var(--color-brand-secondary-light-contrast);

    --color-text-default: var(--color-text-light-default);
    --color-text-muted: var(--color-text-light-muted);
    --color-text-subtle: var(--color-text-light-subtle);
    --color-text-on-emphasis: var(--color-text-light-on-emphasis);

    --color-surface-default: var(--color-surface-light-default);
    --color-surface-subtle: var(--color-surface-light-subtle);
    --color-surface-inset: var(--color-surface-light-inset);
    --color-surface-emphasis: var(--color-surface-light-emphasis);


    --color-border-default: var(--color-border-light-default);
    --color-border-muted: var(--color-border-light-muted);

    --color-status-info-base: var(--color-status-info-light-base);
    --color-status-info-text: var(--color-status-info-light-text);
    --color-status-info-subtle: var(--color-status-info-light-subtle);
    --color-status-info-hover: var(--color-status-info-light-hover);

    --color-status-warning-base: var(--color-status-warning-light-base);
    --color-status-warning-text: var(--color-status-warning-light-text);
    --color-status-warning-subtle: var(--color-status-warning-light-subtle);
    --color-status-warning-hover: var(--color-status-warning-light-hover);

    --color-status-danger-base: var(--color-status-danger-light-base);
    --color-status-danger-text: var(--color-status-danger-light-text);
    --color-status-danger-subtle: var(--color-status-danger-light-subtle);
    --color-status-danger-hover: var(--color-status-danger-light-hover);

    --color-status-success-base: var(--color-status-success-light-base);
    --color-status-success-text: var(--color-status-success-light-text);
    --color-status-success-subtle: var(--color-status-success-light-subtle);
    --color-status-success-hover: var(--color-status-success-light-hover);


    --shadow-color: var(--shadow-color-light);
    --shadow-inset: var(--shadow-inset-light);
    --shadow-nearest: var(--shadow-nearest-light);
    --shadow-near: var(--shadow-near-light);
    --shadow-medium: var(--shadow-medium-light);
    --shadow-far: var(--shadow-far-light);

    --triangle-down-url: var(--triangle-down-url-light);
    --triangle-up-url: var(--triangle-up-url-light);
}

[color-scheme="dark"] .live-theme {
    color-scheme: dark;

    --color-brand-primary-emphasis: var(--color-brand-primary-dark-emphasis);
    --color-brand-primary-base: var(--color-brand-primary-dark-base);
    --color-brand-primary-subtle: var(--color-brand-primary-dark-subtle);
    --color-brand-primary-hover: var(--color-brand-primary-dark-hover);
    --color-brand-primary-contrast: var(--color-brand-primary-dark-contrast);

    --color-brand-secondary-emphasis: var(--color-brand-secondary-dark-emphasis);
    --color-brand-secondary-base: var(--color-brand-secondary-dark-base);
    --color-brand-secondary-subtle: var(--color-brand-secondary-dark-subtle);
    --color-brand-secondary-hover: var(--color-brand-secondary-dark-hover);
    --color-brand-secondary-contrast: var(--color-brand-secondary-dark-contrast);

    --color-text-default: var(--color-text-dark-default);
    --color-text-muted: var(--color-text-dark-muted);
    --color-text-subtle: var(--color-text-dark-subtle);
    --color-text-on-emphasis: var(--color-text-dark-on-emphasis);

    --color-surface-default: var(--color-surface-dark-default);
    --color-surface-subtle: var(--color-surface-dark-subtle);
    --color-surface-inset: var(--color-surface-dark-inset);
    --color-surface-emphasis: var(--color-surface-dark-emphasis);

    --color-border-default: var(--color-border-dark-default);
    --color-border-muted: var(--color-border-dark-muted);

    --color-status-info-base: var(--color-status-info-dark-base);
    --color-status-info-text: var(--color-status-info-dark-text);
    --color-status-info-subtle: var(--color-status-info-dark-subtle);
    --color-status-info-hover: var(--color-status-info-dark-hover);

    --color-status-warning-base: var(--color-status-warning-dark-base);
    --color-status-warning-text: var(--color-status-warning-dark-text);
    --color-status-warning-subtle: var(--color-status-warning-dark-subtle);
    --color-status-warning-hover: var(--color-status-warning-dark-hover);

    --color-status-danger-base: var(--color-status-danger-dark-base);
    --color-status-danger-text: var(--color-status-danger-dark-text);
    --color-status-danger-subtle: var(--color-status-danger-dark-subtle);
    --color-status-danger-hover: var(--color-status-danger-dark-hover);

    --color-status-success-base: var(--color-status-success-dark-base);
    --color-status-success-text: var(--color-status-success-dark-text);
    --color-status-success-subtle: var(--color-status-success-dark-subtle);
    --color-status-success-hover: var(--color-status-success-dark-hover);


    --shadow-color: var(--shadow-color-dark);
    --shadow-inset: var(--shadow-inset-dark);
    --shadow-nearest: var(--shadow-nearest-dark);
    --shadow-near: var(--shadow-near-dark);
    --shadow-medium: var(--shadow-medium-dark);
    --shadow-far: var(--shadow-far-dark);

    --triangle-down-url: var(--triangle-down-url-dark);
    --triangle-up-url: var(--triangle-up-url-dark);
}
