---
interface Props {
    style: string;
    label: string;
}

const { style, label } = Astro.props;
---

<div class="block nc-box" style={style}>
    <span class="label">{label}</span>
</div>

<style>
    .label {
        font-size: var(--font-size-small);
        color: var(--color-brand-primary-base);
    }

    .block {
        inline-size: 100%;
        block-size: 8rem;
        display: block;
        background-color: var(--color-surface-inset);
        border: var(--border-width-medium) solid var(--color-border-muted);
    }
</style>
