---
import BlockPreview from './BlockPreview.astro';
import ShadowsSettings from './ShadowsSettings.svelte';
import BorderSettings from './BorderSettings.svelte';
import SpacingSettings from './SpacingSettings.svelte';

const spacings = {
    '--spacing-tiny': 'gap: var(--spacing-tiny)',
    '--spacing-nearest': 'gap: var(--spacing-nearest)',
    '--spacing-near': 'gap: var(--spacing-near)',
    '--spacing-base': 'gap: var(--spacing-base)',
    '--spacing-far': 'gap: var(--spacing-far)',
    '--spacing-farthest': 'gap: var(--spacing-farthest)',
};
---

<div>
    <SpacingSettings client:only="svelte" />
    <BorderSettings client:only="svelte" />
    <ShadowsSettings client:only="svelte" />
</div>
