@import "@nordcode/ui/complete";
@import "@nordcode/ui/fonts";

@custom-media --sm-n-above (width >= 480px);
@custom-media --md-n-above (width >= 768px);
@custom-media --OSdark (prefers-color-scheme: dark);

@keyframes slide-up {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

:root {
    --animation-slide-up: slide-up 0.6s ease forwards;
    --spacing-adaptive: var(--spacing-base);

    @media (--sm-n-above) {
        --spacing-adaptive: var(--spacing-far);
    }

    @media (--md-n-above) {
        --spacing-adaptive: var(--spacing-farthest);
    }

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    --center-measure: 110ch;
    --center-padding: var(--spacing-adaptive);
    --control-height-base: 2.5rem;
    --control-height-small: 2rem;
    font-size: clamp(1.125rem, 1rem + 0.25vw, 1.25rem);

    --layout-max-width: 80rem;
    --layout-narrow-max-width: 65rem;
    --scrollbar-width: calc(100vw - 100%);

    --layout-padding: var(--spacing-base);

    @media (min-width: 40rem) {
        --layout-padding: var(--spacing-far);
    }

    --header-offset-block: var(--spacing-base);
    /* logo size + spacing */
    --header-block-size: calc(var(--spacing-far) * 2 + 4.125rem);
}

html {
    scroll-timeline: --bodyTimeline y;
    /* Firefox supports the older "vertical" syntax */
    scroll-timeline: --bodyTimeline vertical;

    font-family: var(--font-family-default);
    background-color: var(--color-surface-muted);
}

body {
    overflow: clip;
}

.wrapper {
    inline-size: 100%;
}

.section {
    max-inline-size: 120rem;
    margin-inline: auto;
}

.section-title {
    font-weight: var(--font-weight-heading);
    font-size: 3rem;
    line-height: var(--line-height-small);
    max-inline-size: 12ch;

    @media (--sm-n-above) {
        font-size: 5rem;
    }
}

:is(h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-strong);
}

.prose :is(h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-heading);
}

& .slide-up-from {
    transform: translateY(var(--spacing-base));
    opacity: 0;
}

.nc-input {
    padding-block: var(--_input-padding-block);
}

.nc-button {
    font-family: var(--font-family-mono);
    transition: background 0.3s ease;

    &.-brand {
        border: 0;
        background: radial-gradient(
            circle at center left,
            var(--color-brand-primary-base),
            var(--color-brand-secondary-base)
        );

        &:hover {
            color: var(--text-hover);
            background: radial-gradient(
                circle at center left,
                var(--color-brand-primary-base) -50%,
                var(--color-brand-secondary-base)
            );
        }

        &:active {
            color: var(--text-hover);
            background: radial-gradient(
                circle at center left,
                var(--color-brand-primary-emphasis) -50%,
                var(--color-brand-primary-base)
            );
        }
    }

    &.-muted-brand {
        border: 0;
        background: color-mix(in oklch, var(--color-text-base), transparent 92%);
        color: var(--color-text-base);
        backdrop-filter: blur(2px);
        box-shadow: none;

        &:hover {
            background: color-mix(in oklch, var(--color-surface-base), transparent 30%);
            color: var(--color-text-base);
        }

        &:active {
            background: var(--color-surface-base);
            color: var(--color-text-base);
        }
    }
}

.nc-box {
    padding-block: var(--spacing-adaptive);
    padding-inline: var(--spacing-adaptive);
}

:is([href], button).nc-card {
    box-shadow:
        var(--_card-shadow),
        inset 0px 0px var(--spacing-base) calc(var(--spacing-near) * -1)
        color-mix(in oklch, var(--color-border-base) 80%, transparent);

    @media (--OSdark) {
        box-shadow:
            var(--_card-shadow),
            inset 0px 0px var(--spacing-base) calc(var(--spacing-near) * -1) var(--color-border-base);
    }

    &:hover {
        box-shadow:
            var(--_card-shadow),
            inset 0px calc(var(--spacing-near) * -1) var(--spacing-base) calc(var(--spacing-near) * -1)
            color-mix(in oklch, var(--color-brand-primary-base), transparent 90%);
    }
}

section.nc-box {
    padding-block: calc(var(--spacing-adaptive) * 2);
    padding-inline: var(--spacing-adaptive);
}

.nc-center {
    box-sizing: border-box;
    /* Ensures that always max space is occupied */
    inline-size: min(var(--center-measure), 100%);
}

.nc-input-field {
    gap: 0.25lh;
}

.heading-bg {
    position: relative;
    margin-block-end: var(--spacing-far);

    /* &::after {
    	--conic-size: min(60ch, 100vw);
    	position: absolute;
    	z-index: -1;
    	content: '';
    	inset: 0;
    	left: calc(var(--conic-size) / 2 * -1);
    	top: calc(var(--conic-size) / 2 * -1 + 1.1lh);
    	inline-size: var(--conic-size);
    	aspect-ratio: 1;
    	border-radius: 100%;
    	background-image: conic-gradient(
    		from 90deg,
    		oklch(var(--color-surface-subtle-lch) / 0.7),
    		oklch(var(--color-surface-default-lch) / 0.7)
    	);
    } */
}

:is(.styled-base-text strong, .gradient-text) {
    background: linear-gradient(
        to left,
        var(--color-brand-secondary-base),
        var(--color-brand-primary-base)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-color;
    transition-duration: var(--transition-duration-quick-1);
    transition-timing-function: var(--ease-2);

    &::selection {
        background-color: var(--color-brand-primary-base);
        color: var(--color-surface-base);
        -webkit-background-clip: initial;
        background-clip: initial;
        -webkit-text-fill-color: initial;
    }

    &:is(a, button):hover, &:is(a, button):focus-visible {
        background: linear-gradient(to left, var(--color-brand-primary-base), var(--color-brand-primary-emphasis));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

@keyframes char-fade-in {
    from {
        opacity: 0;
        transform: translateX(0.25ch);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes project-slide-in {
    from {
        transform: scale(0.5) translateY(var(--spacing-base)) translateX(calc(100% * var(--side)))
            rotate(calc(-2deg * var(--side)));
    }
    to {
        transform: scale(1) translateY(0);
    }
}

@keyframes slide-through {
    from {
        transform: translateY(calc(10vh * var(--scaler, 1)));
    }

    to {
        transform: translateY(calc(10vh * var(--scaler, 1) * -1));
    }
}

.char-animation {
    opacity: 0;
    animation: char-fade-in 600ms ease-in-out var(--char-animation-delay, 0ms) forwards;
}

::view-transition-old(*),
::view-transition-new(*) {
    /** @url https://developer.chrome.com/docs/web-platform/view-transitions/#handling-changes-in-aspect-ratio */
    block-size: 100%;
    overflow: hidden;
}

:is(a:not(.nc-button)) {
    font-family: var(--font-family-mono);

    text-decoration-color: var(--color-brand-primary-base);

    &:hover,
    &:focus-visible {
        text-decoration-color: var(--color-brand-secondary-base);
    }
}

.case-img-container {
    position: relative;
    max-inline-size: 100%;
    max-block-size: 80vh;
    border: var(--border-width-thin) solid var(--color-border-muted);
    border-radius: var(--border-radius-large);
    padding: var(--spacing-base);
    overflow: clip;

    & > figcaption {
        background: none;
        font-size: var(--font-size-small);
        color: var(--color-text-muted);
        margin-block-start: var(--spacing-base);
        text-wrap: pretty;
    }

    & > a {
        display: grid;
        place-items: center;
        min-block-size: 0;
        max-block-size: 100%;
    }

    & img,
    & picture {
        overflow: hidden;
        inline-size: 100%;
        block-size: 100%;
        max-block-size: 100%;
        object-fit: contain;
        border-radius: var(--border-radius-medium);
    }
}

.case-img-wrapper {
    --case-color: black;

    border: var(--border-width-thick) solid var(--case-color);
    box-shadow: var(--shadow-medium);
    background: var(--case-color);
    overflow: clip;

    display: grid;
    grid-template:
        "header" auto
        "content" 1fr
        "footer" auto
        / 1fr;

    &.-desktop:before {
        content: "";
        display: block;
        inline-size: 100%;
        block-size: var(--spacing-base);
        background: var(--case-color);
        grid-area: header;
    }

    & picture {
        grid-area: content;
        max-inline-size: 100%;
        max-block-size: 50vh;
        object-fit: contain;
        border-radius: var(--border-radius-medium);
    }

    & .case-img {
        border-radius: var(--border-radius-medium);
    }

    &.-desktop {
        border-radius: var(--border-radius-medium);
    }

    &.-mobile {
        border-radius: var(--border-radius-large);
        border-width: var(--spacing-near);
    }

    &.-mobile picture {
        aspect-ratio: 0.46;
    }

    &.-desktop picture {
        aspect-ratio: 16 / 9;
    }

    &.-mobile:before {
        content: "";
        display: block;
        inline-size: 100%;
        block-size: var(--spacing-base);
        background: var(--case-color);
        grid-area: header;
    }

    &.-mobile:after {
        content: "";
        display: block;
        inline-size: 100%;
        block-size: var(--spacing-base);
        background: var(--case-color);
        grid-area: footer;
    }
}

.card-bg {
    background: linear-gradient(
        45deg,
        color-mix(in oklch, var(--color-border-base), transparent 97%),
        color-mix(in oklch, var(--color-surface-base), transparent 20%)
    );
    backdrop-filter: blur(var(--spacing-base));
}
