---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Danke für deine Anfrage!" description="Wir werden uns so schnell wie möglich bei dir melden." noIndex>
    <section class="nc-center nc-flow container">
        <h1>Danke für deine Anfrage!</h1>
        <p class="font-size-large">
            Wir werden uns so schnell wie möglich bei dir melden. Das dauert in der Regel 1-2 Werktage.
        </p>
        <p>
            <a href="/">
                Zurück zur Startseite
            </a>
        </p>
    </section>
</Layout>
