---
import { Image } from 'astro:assets';
import cat1 from '../assets/images/cat1.png';
import cat2 from '../assets/images/cat2.png';
import cat3 from '../assets/images/cat3.png';
import cat4 from '../assets/images/cat4.png';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum" description="Das super coole Impressum von nordcode.">
    <section class="nc-center page-center-layout">
        <div class="nc-flow">
            <h1>Impressum</h1>
            <p class="font-size-large">
                Du suchst ein Impressum? Du hast es gefunden. Wenn das deine Neugier nicht befriedigt, <a
                    href="mailto:moin@nordcode.agency"
                >frag uns einfach</a>.
            </p>
            <h2 id="m46">Diensteanbieter</h2>
            <p>
                nordcode Stübner Köller GbR<br />
                Eduardstr. 43 b<br />
                20257 Hamburg<br />
                Deutschland
            </p>

            <h2 id="m56">Kontaktmöglichkeiten</h2>
            <p>E-Mail-Adresse: <a href="mailto:moin@nordcode.agency">moin@nordcode.agency</a></p>
            <p>Telefon: <a href="tel:+4915563134234">+49 155 63 134 234</a></p>

            <h2 id="m58">Angaben zum Unternehmen</h2>
            <!-- <p>Umsatzsteuer Identifikationsnummer (USt-ID): UstID</p> -->
            <!-- <p>AGB: AGB LINK</p> -->

            <p>Gesellschafter sind Lukas Köller und Joshua Stübner</p>

            <h2 id="m5234">Vorbehalt der Nutzung für Text und Data Mining</h2>
            <p>
                Vorbehalt der Nutzung für Text und Data Mining: Der Inhaber dieser Website gestattet die Nutzung oder
                das Herunterladen von Inhalten dieser Website durch Dritte für die Entwicklung, das Training oder den
                Betrieb von künstlicher Intelligenz oder anderen maschinellen Lernsystemen ("Text und Data Mining")
                ausschließlich mit ausdrücklicher schriftlicher Zustimmung des Inhabers. Ohne eine solche Zustimmung ist
                es untersagt, die Inhalte für Text und Data Mining zu verwenden. Dies gilt auch, wenn auf der Website
                keine Meta-Angaben vorhanden sind, die entsprechende Verfahren aussperren, und selbst dann, wenn Bots,
                die den Zweck haben, die Website zu Zwecken des Text und Data Mining auszulesen, nicht ausgesperrt
                werden.
            </p>

            <h2 id="m65">Haftungs- und Schutzrechtshinweise</h2>
            <p>
                Haftungsausschluss: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen
                Kenntnisstand erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende
                Wirkung, sofern es sich nicht um gesetzlich verpflichtende Informationen (z.B. das Impressum, die
                Datenschutzerklärung, AGB oder verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns
                vor, die Inhalte vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche
                Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.
            </p>
            <p>
                Urheberrechte und Markenrechte: Alle auf dieser Website dargestellten Inhalte, wie Texte, Fotografien,
                Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte)
                geschützt. Die Verwendung, Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der
                jeweiligen Urheber bzw. Rechteinhaber.
            </p>
            <p>
                Hinweise auf Rechtsverstöße: Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße bemerken,
                bitten wir Sie uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme
                unverzüglich entfernen.
            </p>

            <p class="seal">
                <a
                    href="https://datenschutz-generator.de/"
                    title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a>
            </p>
        </div>
        <div class="sleeping-cat-container">
            <button
                class="nc-pile cat-button"
                id="sleeping-cat-button"
                data-play-state=""
                aria-label="Schlafende Katzen Animation abspielen"
            >
                <Image src={cat1} class="sleeping-cat -cat1" densities={[1, 2]} alt="Schafende Katze 1"></Image>
                <Image src={cat2} class="sleeping-cat -cat2" densities={[1, 2]} alt="Schafende Katze 2"></Image>
                <Image src={cat3} class="sleeping-cat -cat3" densities={[1, 2]} alt="Schafende Katze 3"></Image>
                <Image
                    src={cat4}
                    class="sleeping-cat -cat4"
                    densities={[1, 2]}
                    alt="Nicht mehr schlafende Katze"
                ></Image>
            </button>
        </div>
    </section>
</Layout>

<script>
const catButton = document.getElementById('sleeping-cat-button');
let isPlaying = false;
let clickCount = 0;

if (catButton) {
    catButton.addEventListener('click', () => {
        console.log('click');
        if (isPlaying) {
            return;
        }

        if (clickCount < 2) {
            clickCount += 1;
            return;
        }

        clickCount = 0;
        isPlaying = true;

        setTimeout(() => {
            isPlaying = false;
            catButton.setAttribute('data-play-state', '');
        }, 6000);

        catButton.setAttribute('data-play-state', 'wake-up');

        setTimeout(() => {
            catButton.setAttribute('data-play-state', 'awake');
        }, 2000);
    });
}
</script>

<style>
#sleeping-cat-button {
    cursor: pointer;
}
.sleeping-cat-container {
    position: relative;

    &:before {
        content: "";
        background: var(--color-surface-emphasis);
        block-size: 1px;
        inline-size: 100%;
        display: block;
        position: absolute;
        inset-block-start: 169px;
        z-index: -1;
    }
}

.cat-button {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    display: grid;
    inline-size: 256px;
    block-size: 256px;

    &:hover, &:focus-visible, &:active {
        background: none;
        box-shadow: none;
        filter: none;
        backdrop-filter: none;
    }

    &:not([data-play-state=""]) .-cat1 {
        display: none;
    }

    &:not([data-play-state=""]) .-cat2 {
        display: none;
    }

    &[data-play-state="wake-up"] .sleeping-cat.-cat3 {
        display: block;
    }

    &[data-play-state="awake"] .sleeping-cat.-cat4 {
        display: block;
    }
}

@keyframes sleeping-cat {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sleeping-cat {
    &.-cat2 {
        animation: sleeping-cat infinite 2s steps(1, jump-start);
    }

    &.-cat3 {
        display: none;
    }

    &.-cat4 {
        display: none;
    }
}
</style>
