---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import Navigation from '../components/Navigation.svelte';
import Work from '../components/Work.svelte';
import Header from '../components/Header.svelte';
---

<Layout title="Welcome to nordcode.">
	<div class="wrapper">
		<Header />
		<Hero />
		<Navigation />
	</div>
	<Work />
</Layout>

<style>
	@import "@nordcode/ui/media";

	.wrapper {
		display: grid;
    grid-template-rows: auto 1fr auto;
		block-size: 100svh;
		padding-inline: var(--spacing-base);
		padding-block-end: var(--spacing-base);

		@media (--md-n-above) {
			padding-inline: var(--spacing-farthest);
			padding-block-end: var(--spacing-farthest);
		}
	}

	.hero {
		max-inline-size: calc(100vw - 2 * var(--gallery-padding-inline));
		inline-size: calc(100vw - 2 * var(--gallery-padding-inline));
	}
</style>
