---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';
import Gallery from '../components/Gallery.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<Gallery>
			{Array.from(Array(5).keys()).map(() => (

				<li>
					<Card>
						<h1>Welcome to nordcode.</h1>
					</Card>
				</li>
			))}
		</Gallery>
	</main>
</Layout>

<style>
	
</style>
