---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import Navigation from '../components/Navigation.svelte';
import Work from '../components/Work.svelte';
---

<Layout title="Welcome to Astro.">
	<div class="nc-stack">
		<Hero />
		<Navigation />
	</div>
	<Work />
</Layout>

<style>
	.nc-stack {
		block-size: 100svh;
	}

	.hero {
		max-inline-size: calc(100vw - 2 * var(--gallery-padding-inline));
		inline-size: calc(100vw - 2 * var(--gallery-padding-inline));
	}
</style>
