---
interface Props {
    heading: string;
    subheading?: string | undefined;
}

let { heading, subheading = undefined } = Astro.props;
---

<div class="container">
    <div class="nc-card card">
        <div class="header">
            <div class="headings">
                {subheading && <span>{subheading}</span>}
                <h2 class="action-card-title">{heading}</h2>
            </div>
        </div>
        <div class="action">
            <slot />
        </div>
    </div>
</div>

<style>
.container {
    container-type: inline-size;
    inline-size: 100%;
    block-size: 100%;
}

.action-card-title {
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

.card {
    --card-padding-inline: 0px;
    --card-padding-block: 0px;

    background: linear-gradient(
        45deg,
        color-mix(in oklch, var(--color-border-base), transparent 97%),
        color-mix(in oklch, var(--color-surface-base), transparent 20%)
    );
    backdrop-filter: blur(4px);
    box-shadow:
        var(--_card-shadow),
        inset 0px 0px var(--spacing-base) calc(var(--spacing-near) * -1)
        color-mix(in oklch, var(--color-border-base), transparent 20%);
    block-size: 100%;
}

.header {
    grid-area: header;
    padding: var(--spacing-base);
}

.headings {
    & span {
        color: var(--color-text-muted);
    }
}

.action {
    grid-area: action;
    padding: var(--spacing-base);
    display: flex;
    justify-content: end;
    line-height: var(--line-height-base);
}

@media (min-width: 24rem) {
    .action-card-title {
        font-size: var(--font-size-medium);
    }
}
</style>
