on:
    push:
        paths:
            - 'apps/ui-generator/**'
            - 'packages/ui/**'
    workflow_dispatch:

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            deployments: write
        name: Publish to Cloudflare Pages
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   uses: pnpm/action-setup@v4

            -   name: Setup node
                uses: actions/setup-node@v4
                with:
                    node-version: 23
                    cache: 'pnpm'

            # Run a build step here if your project requires
            -   name: Install
                run: pnpm install

            -   name: Build UI Generator
                run: pnpm --filter "ui-generator" build

            -   name: Deploy
                uses: cloudflare/wrangler-action@v3
                with:
                    apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                    accountId: 805cfd16784a171042a2d06b47886d50
                    command: pages deploy apps/ui-generator/dist --project-name=ui
                    packageManager: pnpm
