---
import Footer from "../components/Footer.svelte";
import Logo from "../components/Logo.svelte";
import "@nordcode/ui/components";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Logo />
		</header>
		<main class="nc-stack">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@import "@nordcode/ui/bundle";
	@import "@nordcode/ui/fonts";
	header {
		display: grid;
		place-items: center;
		padding-block: var(--spacing-far);
	}

	.nc-stack {
  --_nc-stack-gap: var(--nc-stack-gap, var(--spacing-far));
  --_nc-stack-justify-items: var(--nc-stack-justify-items, stretch);

  display: grid;
  gap: var(--_nc-stack-gap);
  justify-items: var(--_nc-stack-justify-items);

	& > * {
		min-inline-size: 0;
	}
}

	.nc-gallery {
		--_gallery-gap: var(--gallery-gap, var(--spacing-base));
		--_gallery-padding-block: var(--gallery-padding-block, 0);

		display: flex;
		flex-direction: row;
		gap: calc(var(--_gallery-gap) / 2);
		margin: 0;
		max-inline-size: 100%;
		block-size: var(--gallery-size, auto);
		padding-inline-start: var(
			--gallery-padding-inline-start,
			var(
				--gallery-padding-inline,
				var(
					--_gallery-gap,
					var(--gallery-gap)
				)
			)
		);
		padding-inline-end: var(
			--gallery-padding-inline-end,
			var(
				--gallery-padding-inline,
				var(
					--_gallery-gap,
					var(--gallery-gap)
				)
			)
		);
		padding-block-start: calc(var(--gallery-padding-block) / 2);
		padding-block-end: calc(var(--gallery-padding-block) / 2);
		overflow-x: auto;
		overscroll-behavior-inline: contain;
		scroll-snap-type: inline mandatory;
		scroll-padding-inline: var(--gallery-scroll-padding-inline, var(--gallery-padding-inline, var(--_gallery-gap)));
		list-style: none;

		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}

		& > * {
			display: inline-block;
			scroll-snap-align: start;
			flex-shrink: 0;
			padding-inline-start: 0;
		}
	}
</style>
