---
import "./global.css";
import Footer from "../components/Footer.svelte";
import Header from "../components/Header.svelte";
import "@nordcode/ui/components";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="nc-stack">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script src="@nordcode/ui/src/modules/dialogs/ts/dialogs.ts"></script>